<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" as="font" href="/fonts/Kollektif.woff2" type="font/woff2" crossorigin />

  <% title = [current_page.data.title, "Flight Free UK"].compact.uniq.join(" | ") %>
  <title><%= title %></title>
  <meta property="og:title" content="<%= current_article ? current_article.title : title %>"/>

  <% description = "Fight climate change: make the pledge to be flight free in 2023" %>
  <meta name="description" content="<%= description %>"/>
  <meta property="og:description" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta property="og:type" content="<%= current_article ? "article" : "website" %>"/>
  <meta property="og:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/flight-free-pledge-2023.jpg" %>"/>
  <meta property="og:image:alt" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= data.social_media.twitter %>" />
  <meta name="twitter:title" content="<%= current_article ? current_article.title : title %>" />
  <meta name="twitter:description" content="<%= current_article ? current_article.data.summary : description %>" />
  <meta name="twitter:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/flight-free-pledge-2023.jpg" %>" />

  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "https://unpkg.com/micromodal/dist/micromodal.min.js" %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151318158-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151318158-1');
  </script>
  <!-- End Google Analytics code -->

  <!-- Facebook Pixel Code -->
  <meta name="facebook-domain-verification" content="b298ei62vrpf5nyg2mu5i47y74pr3t" />
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '252245006818254');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=252245006818254&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Donorbox code -->
  <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
  <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script>
  <!-- End Donorbox code -->

</head>
<body class="font-body">

<%= yield %>

<%# start footer %>
    <%= partial "footer" %>
<%# end footer %>

<%= javascript_include_tag "main.js" %>

</body>
</html>
