<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" as="font" href="/fonts/Kollektif.woff2" type="font/woff2" crossorigin />

  <% title = [current_page.data.title, "Flight Free UK"].compact.uniq.join(" | ") %>
  <title><%= title %></title>
  <meta property="og:title" content="<%= current_article ? current_article.title : title %>"/>

  <% description_default = "Fight climate change: make the pledge to be flight free in 2025" %>
  <%- 
  if current_article
    sm_image = current_article.data.cover_image
    description = current_article.data.summary
  else
    # cover image
    if current_page && current_page.data.cover_image
      sm_image = current_page.data.cover_image
    else
      sm_image = "/images/flight-free-pledge-2025.jpg"
    end
    # description
    if current_page && current_page.data.summary
      description = current_page.data.summary
    else
      description = description_default
    end
  end -%>

  <meta name="description" content="<%= description %>"/>
  <meta property="og:description" content="<%= description %>"/>

  <meta property="og:type" content="<%= current_article ? "article" : "website" %>"/>
  <meta property="og:image" content="https://flightfree.co.uk<%= sm_image %>"/>
  <meta property="og:image:alt" content="<%= description %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= data.social_media.twitter %>" />
  <meta name="twitter:title" content="<%= current_article ? current_article.title : title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="https://flightfree.co.uk<%= sm_image %>" />

  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "https://unpkg.com/micromodal/dist/micromodal.min.js" %>

<!-- Begin Brevo Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<style>
  #sib-container input:-ms-input-placeholder {
    text-align: left;
    color: #1f4d7b;
  }

  #sib-container input::placeholder {
    text-align: left;
    color: #1f4d7b;
  }

  #sib-container textarea::placeholder {
    text-align: left;
    color: #1f4d7b;
  }

  #sib-container a {
    text-decoration: underline;
    color: #2BB2FC;
  }

  /* jm_ added styles */
  #sib-container {
    max-width: none !important;
  }

  .sib-form {
  	margin: 0 auto !important;
  }

/* layout... */
@media (min-width: 920px) {
@supports (display: flex) {
  #sib-form {
  	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  #sib-form > div {
	flex: 1 0 100%;
  }
  #sib-form > div.form-element {
	flex-basis: 50%;
  }
}
@supports (display: grid) {
	/* reset */
	#sib-form > div > div.sib-form-block {
		padding: 0;
	}
	#sib-form {
		display: grid;
		grid-template-columns: 2fr 2fr auto;
		grid-template-areas: 
			"title title title"
			"name email submit"
			"leftovers leftovers leftovers";
		grid-gap: 0 1rem;
	}
	#sib-form > div {
		grid-area: leftovers;
	}
	#sib-form > div.title-element {
		grid-area: title;
	}
	#sib-form > div.name-element {
		grid-area: name;
	}
	#sib-form > div.email-element {
		grid-area: email;
	}
	#sib-form > div.submit-element {
		grid-area: submit;
	}
}
}

  .sib-form-block p {
    font-family: "Kollektif", sans-serif;
	font-size: 1.25rem;
	line-height: revert;
  }

  #sib-form > div.submit-element {
	margin: 0.25rem 0;
  }
  button.sib-form-block__button {
	height: calc(3.25rem - 2px);
	padding: 0.25rem 1rem 0.125rem;
  	border: 2px solid #F9F9F9 !important;
	border-radius: 0 !important;
    font-family: "Kollektif", sans-serif !important;
	font-size: 1.5rem !important;
	line-height: calc(2.5rem - 2px);
    background-color: #1f4d7b !important;
	color: #F9F9F9;
  }
  button.sib-form-block__button:hover,
  button.sib-form-block__button:focus {
    background-color: #357cb6 !important;
  }
  button.sib-form-block__button.sib-form-block__button-disabled {
	opacity: 1 !important;
	border-color: #357cb6 !important;
    background-color: #1f4d7b !important;
	color: #357cb6 !important;
	position: relative;
  }
  button.sib-form-block__button.sib-form-block__button-disabled svg {
	position: absolute;
	top: 50%;
	margin-top: -0.75rem;
	left: 1rem;
	height: 1.5rem;
	width: auto;
  }
  .sib-form-block__button-disabled path {
	fill: #F9F9F9;
  }

  #sib-form input {
  	border: 2px solid #F9F9F9;
	border-radius: 0 !important;
	padding: 0.25rem 1rem 0.125rem;
    font-family: "Kollektif", sans-serif !important;
	font-size: 1.5rem !important;
	line-height: calc(2.5rem - 2px);
    color: #1f4d7b;
  }

  #sib-form input::placeholder {
    font-family: "Kollektif", sans-serif !important;
	font-size: 1.5rem !important;
	color: #357cb6;
  }

  #sib-form .entry_errored input {
	border-color: red;
  }
  #sib-form .entry__error {
	padding: 0.5rem 1rem;
  }
  .sib-form-message-panel {
	max-width: none;
	margin: 1rem auto !important;
  }
  .sib-form-message-panel--active {
	display: block;
  }
  /* END jm_ added styles */
</style>
<!--  END - We recommend to place the above code in head tag of your website html -->
<!-- End Brevo Form -->

  <!-- Donorbox code -->
  <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
  <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script>
  <!-- End Donorbox code -->

</head>
<body class="font-body">

<%= yield %>

<%# start footer %>
    <%= partial "footer" %>
<%# end footer %>
  
<script type="text/javascript">
	MicroModal.init();
</script>

<%= javascript_include_tag "main.js" %>

<!-- Begin Brevo Form -->
<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please check your details and try again.";
  window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
  window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please check your details and try again.";
  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected',
      selectedOption: '{quantity} selected',
      selectedOptions: '{quantity} selected',
    }
  };
  var AUTOHIDE = Boolean(1);
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->

</body>
</html>
