<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" as="font" href="/fonts/Kollektif.woff2" type="font/woff2" crossorigin />

  <% title = [current_page.data.title, "Flight Free UK"].compact.uniq.join(" | ") %>
  <title><%= title %></title>
  <meta property="og:title" content="<%= current_article ? current_article.title : title %>"/>

  <% description = "Fight climate change: make the pledge to be flight free in 2022" %>
  <meta name="description" content="<%= description %>"/>
  <meta property="og:description" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta property="og:type" content="<%= current_article ? "article" : "website" %>"/>
  <meta property="og:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/flight-free-pledge-2023.jpg" %>"/>
  <meta property="og:image:alt" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= data.social_media.twitter %>" />
  <meta name="twitter:title" content="<%= current_article ? current_article.title : title %>" />
  <meta name="twitter:description" content="<%= current_article ? current_article.data.summary : description %>" />
  <meta name="twitter:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/flight-free-pledge-2023.jpg" %>" />

  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "https://unpkg.com/micromodal/dist/micromodal.min.js" %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151318158-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151318158-1');
  </script>
  <!-- End Google Analytics code -->

  <!-- Facebook Pixel Code -->
  <meta name="facebook-domain-verification" content="b298ei62vrpf5nyg2mu5i47y74pr3t" />
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '252245006818254');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=252245006818254&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Donorbox code -->
  <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
  <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script>
  <!-- End Donorbox code -->

</head>
<body class="font-body">

<%= yield %>

<%# start footer %>
    <%= partial "footer" %>
<%# end footer %>

  <!-- PLEDGE MODAL class="is-open" is added to the modal to make it visible -->
  <section id="pledge-modal" aria-hidden="true" class="hidden modal">
    <div tabindex="-1" data-micromodal-close class="fixed inset-0 flex items-center justify-center" style="background-color:rgba(31, 77, 123, 0.9)">
      <div role="dialog" aria-modal="true" aria-labelledby="pledge-modal-title" class="relative px-6 py-6">
        <header>
          <h2 id="pledge-modal-title" class="hidden">
            Sign the pledge
          </h2>
          <button aria-label="Close modal" data-micromodal-close class="absolute top-0 right-0 w-12 h-12 background-no-repeat bg-contain" style="background-image:url(/svg/popup_close.svg)"></button>
        </header>
        <div id="pledge-modal-content">
          <%= partial "pledge_form", locals: { id: "modal" }  %>
        </div>
      </div>
    </div>
  </section>

  <!-- PLEDGE MODAL (CUSTOM) class="is-open" is added to the modal to make it visible -->
  <section id="pledge-custom-modal" aria-hidden="true" class="hidden modal">
    <div tabindex="-1" data-micromodal-close class="fixed inset-0 flex items-center justify-center" style="background-color:rgba(31, 77, 123, 0.9)">
      <div role="dialog" aria-modal="true" aria-labelledby="pledge-custom-modal-title" class="relative px-6 py-6">
        <header>
          <h2 id="pledge-custom-modal-title" class="hidden">
            Make your own pledge
          </h2>
          <button aria-label="Close modal" data-micromodal-close class="absolute top-0 right-0 w-12 h-12 background-no-repeat bg-contain" style="background-image:url(/svg/popup_close.svg)"></button>
        </header>
        <div id="pledge-custom-modal-content">
          <%= partial "pledge_form_custom", locals: { id: "modal" }  %>
        </div>
      </div>
    </div>
  </section>
  
  <script type="text/javascript">
    MicroModal.init();
  </script>
  <%= javascript_include_tag "main.js" %>
</body>
</html>
