<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% title = [current_page.data.title, "FlightFree UK"].compact.uniq.join(" | ") %>
  <title><%= title %></title>
  <meta property="og:title" content="<%= current_article ? current_article.title : title %>"/>

  <% description = "Fight climate change: make the pledge to be flight free in 2020" %>
  <meta name="description" content="<%= description %>"/>
  <meta property="og:description" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta property="og:type" content="<%= current_article ? "article" : "website" %>"/>
  <meta property="og:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/anna_with_poster.png" %>"/>
  <meta property="og:image:alt" content="<%= current_article ? current_article.data.summary : description %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="<%= data.social_media.twitter %>" />
  <meta name="twitter:title" content="<%= current_article ? current_article.title : title %>" />
  <meta name="twitter:description" content="<%= current_article ? current_article.data.summary : description %>" />
  <meta name="twitter:image" content="https://flightfree.co.uk<%= current_article ? image_path(current_article.data.cover_image) : "/images/anna_with_poster.png" %>" />

  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "https://unpkg.com/micromodal/dist/micromodal.min.js" %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500,600&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151318158-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151318158-1');
  </script>
</head>
<body class="font-body">
  <%= yield %>
  <section class="bg-orange">
    <div class="container mx-auto">
      <div class="px-4 sm:px-8 xl:px-16 xxl:px-48 pt-8 xs:pt-12 sm:pt-16 xl:pt-24 pb-8 xs:pb-12 sm:pb-16 xl:pb-20 text-center">
        <h2 class="text-5xl xl:text-6xl text-white mb-6 xs:mb-10 sm:mb-12 xl:mb-16 leading-none">Help us reach 100,000!  Make the pledge to be flight free in 2020.</h2>
        <button class="bg-white text-blue-dark text-2xl w-full xl:w-auto xl:px-20 py-4 xl:py-6" data-micromodal-trigger="pledge-modal">Sign the pledge</button>
      </div>
    </div>
  </section>
  <footer class="bg-blue-dark">
    <div class="container mx-auto">
      <div class="xl:flex justify-between bg-blue-dark px-8 xxl:px-24 py-8 text-white text-center">
        <nav class="flex flex-wrap xl:w-2/5 justify-center xl:justify-between text-lg xl:text-base">
          <%= link_to "About us", "/about_us.html", class: "w-full xl:w-auto mb-4 xl:mb-0" %>
          <%= link_to "Contact", "/contact_us.html", class: "w-full xl:w-auto mb-4 xl:mb-0" %>
          <%= link_to "Downloads", "/downloads.html", class: "w-full xl:w-auto mb-8 xl:mb-0" %>
          <div class="flex w-1/2 xl:w-1/4 justify-between mb-12 xl:mb-0">
            <a href="https://twitter.com/<%= data.social_media.twitter %>" class="w-8 h-8 xl:w-6 xl:h-6 flex justify-center bg-white rounded-full" target="_blank">
              <%= image_tag "/svg/twitter.svg", class: "w-4" %>
            </a>
            <a href="https://instagram.com/<%= data.social_media.instagram %>" class="w-8 h-8 xl:w-6 xl:h-6 flex items-center justify-center bg-white rounded-full" target="_blank">
              <%= image_tag "/images/instagram.png", class: "w-4" %>
            </a>
            <a href="https://facebook.com/<%= data.social_media.facebook %>" class="w-8 h-8 xl:w-6 xl:h-6 flex justify-center bg-white rounded-full" target="_blank">
              <%= image_tag "/svg/facebook.svg", class: "w-2" %>
            </a>
          </div>
        </nav>
        <nav class="xl:flex xl:w-1/4 justify-between text-base">
          <%= link_to "Terms and conditions", "/terms_and_conditions.html", class: "block mb-2 xl:mb-0" %>
          <%= link_to "Privacy Policy", "/privacy_policy.html", class: "block mb-2 xl:mb-0" %>
        </nav>
      </div>
    </div>
  </footer>
  <!-- class="is-open" is added to the modal to make it visible -->
  <section id="pledge-modal" aria-hidden="true" class="hidden modal">
    <div tabindex="-1" data-micromodal-close class="fixed inset-0 flex items-center justify-center" style="background-color:rgba(31, 77, 123, 0.9)">
      <div role="dialog" aria-modal="true" aria-labelledby="pledge-modal-title" class="relative px-6 py-6">
        <header>
          <h2 id="pledge-modal-title" class="hidden">
            Sign the pledge
          </h2>
          <button aria-label="Close modal" data-micromodal-close class="absolute top-0 right-0 w-12 h-12 background-no-repeat bg-contain" style="background-image:url(/svg/popup_close.svg)"></button>
        </header>
        <div id="pledge-modal-content">
          <!-- <iframe src="https://services.wedonthavetime.org/campaign/kzsAyW1/" style="min-height:430px"></iframe> -->
          <%= partial "pledge_form", locals: { id: "modal" }  %>
        </div>
      </div>
    </div>
  </section>
  <%= partial "story_modal" %>
  <script type="text/javascript">
    MicroModal.init();
  </script>
  <%= javascript_include_tag "main.js" %>
</body>
</html>
