  <footer class="bg-blue-dark text-white text-sm md:text-base lg:text-xl leading-snug">
    <div class="container mx-auto px-4 lg:px-16 py-4 lg:py-12">
      <div class="grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-4">
        <div class="col-start-1">
          <p class="mb-2">
            Flight Free UK<br>
            125 High Oak Road<br>
            SG12 7PA
          </p>
          <p class="mb-2">
            Registered charity 1199328
          </p>
        </div>
        <div class="col-start-2 xs:col-start-3 xs:col-span-2 md:col-start-2 md:col-span-2 lg:col-span-3 md:grid md:grid-rows-mincontent md:grid-cols-2 lg:grid-cols-3 md:pl-8">
          <nav class="md:col-start-1 md:row-span-2">
            <p class="block text-right md:text-left">Contact:<br>
            <%= link_to "info@flightfree.co.uk", "mailto:info@flightfree.co.uk", class: "md:block text-right md:text-left hover:text-orange" %>
            </p>
          </nav>
          <nav class="md:col-start-2">
            <%= link_to "Resources", "/downloads.html", class: "block text-right md:text-left md:pl-8 hover:text-orange" %>
          </nav>
          <nav class="md:col-start-2 lg:col-start-3">
            <%= link_to "Terms and conditions", "/terms_and_conditions.html", class: "block text-right md:text-left md:pl-8 hover:text-orange" %>
            <%= link_to "Privacy Policy", "/privacy_policy.html", class: "block text-right md:text-left md:pl-8 hover:text-orange" %>
          </nav>
        </div>
        <div class="col-span-full row-start-2 xs:col-span-1 xs:col-start-2 xs:row-start-1 md:col-span-full md:col-start-1 md:row-start-2">
          <nav class="flex flex-wrap justify-center">
            <a href="https://twitter.com/<%= data.social_media.twitter %>" class="w-8 h-8 md:w-12 md:h-12 p-1 md:p-3 flex justify-center bg-blue-dark border border-white hover:border-orange rounded-full mx-2" target="_blank">
            <%= partial "svg/twitter.svg" %>
            </a>
            <a href="https://instagram.com/<%= data.social_media.instagram %>" class="w-8 h-8 md:w-12 md:h-12 p-1 md:p-3 flex items-center justify-center bg-blue-dark border border-white hover:border-orange rounded-full mx-2" target="_blank">
            <%= partial "svg/instagram.svg" %>
            </a>
            <a href="https://facebook.com/<%= data.social_media.facebook %>" class="w-8 h-8 md:w-12 md:h-12 p-1 md:p-3 flex justify-center bg-blue-dark border border-white hover:border-orange rounded-full mx-2" target="_blank">
            <%= partial "svg/facebook.svg" %>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </footer>