<% link_to(article.url) do %><%= image_tag article.data.cover_image, class: "w-full" %><% end %>
<div class="px-5 py-4">
  <div class="flex mb-2">
    <img src="/images/blog_author_avatar.png" class="mr-2"/>
    <span class="text-base self-center"><%= article.data.author %></span>
  </div>
  <h4 class="text-2xl mb-2 leading-tight"><a href="<%= article.url %>"><%= article.title %></a></h4>
  <p class="text-sm leading-tight mb-3"><a href="<%= article.url %>"><%= article.data.summary %></a></p>
  <div class="text-xs text-blue-text-light">
    <span class="mr-3"><%= article.date.strftime("%d %b") %></span>
    <span><%= article.data.read_time_minute %> min read</span>
  </div>
</div>
