<div id="take-challenge-<%= count %>" class="relative w-140 h-140 xl:w-220 xl:h-220">
    <div class="w-140 h-140 xl:w-220 xl:h-220">
        <img src="<%= image %>" alt="Photograph of <%= citation %>" class="" loading="lazy" />
    </div>
    <div id="take-challenge-square-<%= count %>" class="absolute top-0 left-0 w-140 h-140 xl:w-220 xl:h-220 flex justify-center items-center bg-whiteveil backdrop-opacity-50 text-blue-dark text-center">
        <p class="w-full h-full flex flex-wrap justify-center items-center p-1 xl:p-4 text-base xl:text-xl leading-tight font-bold">
            <%= title %><br>
            <%= citation %>
        </p>
    </div>
</div>
