<a href="<%= url %>" class="block h-56 bg-cover bg-center" style="background-image:url(<%= cover_image %>)"></a>
<div class="px-5 py-4">
    <h4 class="text-2xl text-blue-dark text-center leading-tight mb-4"><a href="<%= url %>"><%= name %></h4>
    <p class="text-lg text-black text-center leading-tight mb-2"><a href="<%= url %>">&ldquo;<%= quote %>&rdquo;</a></p>
</div>
