<a href="<%= url %>" class="section--how--card relative md:flex flex-col justify-between xl:mx-6 mb-8 p-4 bg-white hover:bg-orange text-blue">
    <div class="pin absolute -top-14 left-1/2 left-half -ml-4">
        <%= partial "svg/pin.svg" %>
    </div>
        <img src="<%= cover_image %>" alt="Photograph for <%= name %>" class="flex-none mb-4" />
    <div class="h-full md:flex justify-center items-center">
        <h3 class="mx-4 text-3xl text-blue-dark text-center leading-normal font-bold"><%= name %></h3>
    </div>
</a>
