<div id="take-challenge-<%= count %>" class="relative w-140 h-140 xl:w-220 xl:h-220">
  <% if link %><a href="<%= link %>"><% end %>
    <div class="w-140 h-140 xl:w-220 xl:h-220">
        <img src="<%= image %>" width="220" height="220" alt="Photograph of <%= citation %>" class="" loading="lazy" />
    </div>
    <div id="take-challenge-square-<%= count %>" class="absolute bottom-0 left-0 w-140 xl:w-220 lg:h-140 xl:h-220 min-h-3 flex justify-center items-center bg-whiteveil backdrop-opacity-50 text-blue-dark text-center text-sm xl:text-xl leading-tight font-bold">
        <p class="w-full lg:h-full flex flex-col justify-center items-center p-1 xl:p-2">
            <span class="quote hidden lg:block py-2 lg:mb-4"><%= title %></span>
            <span class="citation block"><%= citation %></span>
        </p>
    </div>
  <% if link %></a><% end %>
</div>
