---
title: About us
---
<section class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:py-24 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">About us</h1>
    <p class="text-2xl xl:text-3xl mb-6 xl:mb-8 leading-tight text-text-gray-light">
      Flight Free UK began life in February 2019 inspired by the Swedish
      <i>Flygfritt</i> (flight free) movement. We run
      the 'flight free year' pledge which asks people to stay
      grounded for a year in order to reduce their carbon footprint,
      re-discover the joys of overland travel, and begin to shift the social
      norm away from aviation.
    </p>

    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">The Team</h2>
    <div class="xl:flex flex-wrap justify-center">
      <% data.team.members.each do |member| %>
      <div class="md:flex">
	      <div class="md:flex-shrink-0">
          <%= image_tag member.photo, class: "inline-block mb-6 rounded", style: "width: 19rem" %>
	      </div>
        <div class="lg:mt-8 sm:mx-8 mb-12 xl:mb-0">
          <h3 class="text-2xl xl:text-3xl text-blue-dark"><%= member.name %></h3>
          <h3 class="text-xl xl:text-2xl text-blue-dark mb-4"><%= member.role %></h3>
          <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight"><%= member.bio %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 pb-6 sm:pb-12 xl:pb-24 text-text-default">
    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">Advisory Group</h2>
    <div class="xl:flex flex-wrap justify-center mb-12 xl:mb-24">
      <% data.advisorygroup.members.each do |member| %>
        <div class="xl:flex">
          <div class="flex-shrink-0 xl:w-1/4">
            <h3 class="text-xl xl:text-2xl text-blue-dark underline"><a href="<%= member.url %>" target="_blank"><%= member.name %></a></h3>
            <h3 class="text-lg xl:text-xl text-blue-dark mb-4"><%= member.description %></h3>
          </div>
          <div class="mt-1 mb-4">
            <p class="text-text-default text-lg xl:text-xl mb-4 leading-tight"><%= member.bio %></p>
          </div>
        </div>
      <% end %>
    </div>
    <p class="text-lg xl:text-xl leading-tight mt-6 mb-6 text-center">Website design by <a class="text-orange" href="https://madebynika.com/" target="_blank"> Rosa van Wyk</a>. Software development by <a class="text-orange" href="https://uk.linkedin.com/in/eugene-bolshakov-66a7513" target="_blank"> Eugene Bolshakov</a>. Web support by <a class="text-orange" href="https://www.jakemcmurchie.net" target="_blank"> Jake McMurchie</a>. </p>
  </div>
</section>
<section class="bg-blue-dark">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:pt-24 xl:pb-16 text-white">
    <h1 class="text-4xl xl:text-5xl mb-6">International</h1>
    <p class="text-xl xl:text-2xl mb-4 leading-tight mb-8">
      Flight Free UK is part of an international campaign encouraging people to fly less. From humble beginnings in Sweden in 2018 it has now spread to many other countries around the world. Find out more <a class="text-orange underline" href="http://www.vihallerosspajorden.se" target="_blank"> here</a>.
   </p>
   <p class="text-l xl:text-xl">
     Interested in setting up Flight Free in your country?
     <%= link_to "Get in touch", "/contact_us.html", class: "text-orange underline" %>.
   </p>
  </div>
</section>
