---
title: About us
---
<section class="bg-gray-light section--intro">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:py-24 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">About us</h1>
    <p class="text-2xl xl:text-3xl mb-6 xl:mb-8 leading-tight text-blue"> Our mission is to inform people of the climate impact of aviation and inspire them to travel by other means. 
	    We ask people to take a year off flying to reduce emissions and shift the norm away from aviation.</p>	    
    <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight"> Flight Free UK began life in February 2019, inspired by the Swedish
      <i>Flygfritt</i> (flight free) movement. In our first year, over 6,800 people took the pledge in the UK, with over 26,000 people taking the pledge globally.
    </p>
	  <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight"> We are part of <a class="text-orange underline" href="https://vihallerosspajorden.se/in-english/" target="_blank"> We Stay on the Ground</a>, the international movement that is spreading the flight free message all over the world. 
		  We are also members of the Europe-based organisation <a class="text-orange underline" href="https://stay-grounded.org/" target="_blank">Stay Grounded<a/>, which campaigns for a just transition away from aviation, and <a class="text-orange underline" href="https://www.wedonthavetime.org/" target="_blank"> We Don't Have Time</a>, a global social network pushing solutions to the climate crisis.
    </p>
    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">The Team</h2>
    <div class="xl:flex flex-wrap justify-center">
      <% data.team.members.each do |member| %>
      <div class="md:flex">
	      <div class="md:flex-shrink-0">
          <%= image_tag member.photo, class: "inline-block mb-6 rounded", style: "width: 19rem" %>
	      </div>
        <div class="lg:mt-8 sm:mx-8 mb-12 xl:mb-0">
          <h3 class="text-2xl xl:text-3xl text-blue-dark"><%= member.name %></h3>
          <h3 class="text-xl xl:text-2xl text-blue-dark mb-4"><%= member.role %></h3>
          <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight"><%= member.bio %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-gray-light section--advisory-group">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 pb-6 text-text-default">
    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">Advisory Group</h2>
    <div class="xl:flex flex-wrap justify-center mb-6 xl:mb-24">
      <% data.advisorygroup.members.each do |member| %>
        <div class="xl:flex">
          <div class="flex-shrink-0 xl:w-1/4">
            <h3 class="text-xl xl:text-2xl text-blue-dark underline"><a href="<%= member.url %>" target="_blank"><%= member.name %></a></h3>
            <h3 class="text-lg xl:text-xl text-blue-dark mb-4"><%= member.description %></h3>
          </div>
          <div class="mt-1 mb-4">
            <p class="text-text-default text-lg xl:text-xl mb-4 leading-tight"><%= member.bio %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-gray-light section--funding">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 pb-6 sm:pb-12 xl:pb-24 text-text-default">
    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">Funding</h2>
    <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight">Our funding comes from various charitable trusts, transport campaign groups and generous individuals. We run an annual fundraising campaign for our supporters. To find out about making a regular donation to Flight Free UK, please <a href="/contact_us" class="text-orange underline">get in touch</a>.</p>
    <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight">Benefactors include David MacKellar, Woodlands TV, the Marmot Charitable Trust and the Foundation for Integrated Transport.</p>
    <p class="md:flex md:items-center text-text-default text-lg xl:text-xl leading-tight"><img src="/images/uploads/logo-fit.png" alt="Foundation for Integrated Transport logo" width="320" height="44" class="mr-8 mb-8" /> <img src="/images/uploads/logo-woodlands.png" alt="Woodlands TV logo" width="320" height="44" class="mr-8 mb-8" /></p>
  </div>
</section>

<section class="bg-gray-light section--credits">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 pb-6 sm:pb-12 xl:pb-24 text-text-default">
    <p class="text-lg xl:text-xl leading-tight mb-6 text-center">Website design by <a class="text-orange underline" href="https://madebynika.com/" target="_blank"> Rosa van Wyk</a>.<br />Software development by <a class="text-orange underline" href="https://uk.linkedin.com/in/eugene-bolshakov-66a7513" target="_blank"> Eugene Bolshakov</a>.<br />Web support by <a class="text-orange underline" href="https://www.jakemcmurchie.net" target="_blank"> Jake McMurchie</a>. </p>
  </div>
</section>
