---
title: About us
---
<main>

<section class="section--introduction bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-6 sm:pb-8">
    <h1 class="text-4xl xl:text-5xl font-bold leading-tight mb-6">About us</h1>
    <p class="text-xl xl:text-3xl italic mb-6 sm:mb-8 leading-tight">"Our mission is to inform people of the climate impact of aviation and inspire people to travel by other means."</p>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">Flight Free UK was set up in 2018 by Anna Hughes, a behaviour change specialist and long-time advocate of flight-free travel. We challenge people to take a year off flying to reduce emissions and shift the norm away from aviation. Our short-term challenge is a great way to inspire long-term behaviour change, and we show that individual consumer choices can lead to industry and system change.</p>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">Prompted by the IPCC '12 year' report, and inspired by the Swedish flygfritt (flight free) movement, Flight Free UK launched its first 'flight free year' pledge in 2019. We collected over 6000 pledges from people promising to take a year off flying, before Covid came along and took the decision out of people's hands. You can read how Covid affected our campaign <a href="/articles" class="border-b-4 border-orange hover:text-orange">on our blog</a>. Despite the travel difficulties brought about by the pandemic, we have continued to inspire people to travel without flying for the sake of the climate.</p>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">We know that <a href="#" class="border-b-4 border-orange hover:text-orange">individual action alone isn't enough</a> when it comes to responding to the climate emergency, but our campaign is about more than lots of individuals changing their travel behaviour. Our collective action puts pressure on government and industry to make low-carbon travel more accessible for more people. More powerfully, we are heavily influenced by those around us, so as more people choose to stay on the ground, many more will follow.</p>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">At Flight Free UK we focus on just one of the measures that will lead to a reduction in aviation, and we are part of a network of campaigns working in other areas, including <a href="#" class="border-b-4 border-orange hover:text-orange">resisting airport expansion</a>, <a href="#" class="border-b-4 border-orange hover:text-orange">demanding fair taxation</a>, and <a href="#" class="border-b-4 border-orange hover:text-orange">exposing government and industry greenwash</a>.</p>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">Our positive campaign empowers and inspires people to give flight-free travel a try, for the sake of the climate and for their own benefit as travellers.</p>
    <h3 class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">What do people say about us?</h3>
    <p class="text-lg xl:text-2xl italic mb-6 sm:mb-8 leading-tight">"I love Flight Free UK" ~ Anna, London</p>
    <p class="text-lg xl:text-2xl italic leading-tight">"You guys changed my life" ~ Anna, London</p>
  </div>
</section>

<section class="section--team bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-6 sm:pb-8">
    <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">The team</h2>
    <div class="xl:flex flex-wrap justify-center">
      <% data.team.members.each do |member| %>
      <div class="md:flex">
	      <div class="md:flex-shrink-0 mr-8">
          <%= image_tag member.photo, class: "inline-block mb-4 md:mb-12", style: "width: 17rem" %>
	      </div>
        <div class="xl:mx-12 mb-12 xl:mb-0">
          <h3 class="text-2xl xl:text-4xl font-bold mb-2 md:mb-4"><%= member.name %></h3>
          <p class="text-xl xl:text-3xl mb-2 md:mb-4"><%= member.role %></p>
          <p class="text-lg xl:text-xl mb-2 md:mb-4 leading-tight"><%= member.bio %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section--team bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-6 sm:pb-8">
    <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">Board of directors</h2>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">We are governed by a Board of Directors that meets regularly to ensure we fulfil our charitable duties and adhere to Charity Commission guidelines.</p>
    <div class="xl:flex flex-wrap justify-center">
      <% data.board.members.each do |member| %>
      <div class="md:flex">
	      <div class="md:flex-shrink-0">
        <%- if member.photo -%>
          <%= image_tag member.photo, class: "inline-block mb-4 md:mb-12", style: "width: 17rem" %>
        <%- else -%>
          <img src="/svg/person-placeholder.svg" class="inline-block mb-4 md:mb-12" style="width:17rem;" />
        <%- end -%>
	      </div>
        <div class="xl:mx-12 mb-12 xl:mb-0">
          <h3 class="text-2xl xl:text-3xl mb-2 md:mb-4"><%= member.name %></h3>
          <h3 class="text-xl xl:text-2xl mb-2 md:mb-4"><%= member.role %></h3>
          <p class="text-lg xl:text-xl mb-2 md:mb-4 leading-tight"><%= member.bio %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section--advisory-group bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-6 sm:pb-8">
    <h2 class="text-4xl xl:text-5xl mb-6">Advisory Group</h2>
    <p class="text-lg xl:text-2xl mb-6 sm:mb-8 leading-tight">
      Our advisory group is made up of industry experts and campaigners:
      <% data.advisorygroup.members.each do |member| -%>
      <a href="<%= member.url %>" class="border-b-4 border-orange hover:text-orange"><%= member.name %></a>, <%= member.description %>;
      <% end -%>
    </p>
  </div>
</section>

</main>