---
title: About us
---
<section class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:py-24 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">About us</h1>
    <p class="text-2xl xl:text-3xl mb-6 xl:mb-8 leading-tight text-text-gray-light">
      Flight Free UK began life in February 2019, inspired by the Swedish
      <i>Flygfritt</i> campaign that persuaded 14,500 Swedes not to fly in 2019. We run
      the #FlightFree2020 campaign which asks 100,000 people to pledge to stay
      grounded for a year in order to reduce their carbon footprint,
      re-discover the joys of overland travel, and start to shift the social
      norm away from aviation.
    </p>

    <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">The Team</h2>
    <div class="xl:flex flex-wrap justify-between mb-12 xl:mb-24">
      <% data.team.members.each do |member| %>
        <div class="text-center xl:w-1/3 xl:px-4 mb-12 xl:mb-0">
          <%= image_tag member.photo, class: "inline-block mb-6 rounded-full", style: "width: 19rem" %>
          <h3 class="text-2xl xl:text-3xl text-blue-dark"><%= member.name %></h3>
          <h3 class="text-xl xl:text-2xl text-blue-dark mb-4"><%= member.role %></h3>
          <p class="text-text-default text-lg xl:text-xl mb-4 xl:mb-8 leading-tight xl:px-2"><%= member.bio %></p>
        </div>
      <% end %>
    </div>
    <p class="text-lg xl:text-xl leading-tight mt-6 mb-6">Website design by <a class="text-orange" href="https://madebynika.com/" target="_blank"> Rosa van Wyk</a>. Technical wizadry by <a class="text-orange" href="https://uk.linkedin.com/in/eugene-bolshakov-66a7513" target="_blank"> Eugene Bolshakov</a>.</p>
  </div>
</section>
<section class="bg-blue-dark">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:pt-24 xl:pb-16 text-white">
    <h1 class="text-4xl xl:text-5xl mb-6">International</h1>
    <p class="text-xl xl:text-2xl mb-4 leading-tight mb-8">
      The Flight Free 2020 pledge is an international campaign encouraging people to fly less. It is currently active in <a class="text-orange underline" href="http://www.vihallerosspajorden.se" target="_blank"> Sweden</a>, <a class="text-orange underline" href="http://flightfree.nl" target="_blank"> The Netherlands</a>, <a class="text-orange underline" href="http://flightfree.de" target="_blank"> Germany</a>, <a class="text-orange underline" href="http://flightfree.ca" target="_blank"> Canada</a>, <a class="text-orange underline" href="https://www.flightfreeusa.org" target="_blank">the USA</a> and <a class="text-orange underline" href="http://www.flightfree.net.au" target="_blank"> Australia</a>.
   </p>
   <p class="text-l xl:text-xl">
     Interested in setting up Flight Free in your country?
     <%= link_to "Get in touch", "/contact_us.html", class: "text-orange underline" %>.
   </p>
  </div>
</section>
