---
title: Be inspired
menu_item: be_inspired
blog: be_inspired
---
<section class="bg-gray-light text-blue-dark px-4">
  <div class="container mx-auto xl:px-16 xxl:px-48 pt-4 sm:pt-12 xl:pt-24 pb-12 text-blue-dark">
    <%= partial "categories", locals: { category: nil } %>
    <% 
    [["Testimonials", "testimonials"], ["How-to", "how-to"], ["Explainer", "explainer"], ["Climate", "climate"], ["Policy position", "policy-position"], ["Opinion", "opinion"]].each do |label, id|
    category_articles = blog.articles.select {|a| a.data.category == id}
    sorted_category_articles = category_articles.sort_by {|a| a.date }.reverse
    %>
    <h2 class="text-2xl sm:text-3xl lg:text-4xl text-center md:text-left font-bold leading-tight mb-8" id="<%= id %>"><%= label %></h2>
    <div id="blog-posts" class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-4 justify-center mb-16">
        <% sorted_category_articles.each do |article| %>
        <a href="<%= article.url.force_encoding("UTF-8") %>" class="w-288 md:w-200 h-288 justify-self-center grid grid-cols-1 hover:text-orange">
            <%- if article.data.cover_image -%>
            <img src="<%= image_path(article.data.cover_image) %>" alt="Image for article <%= article.title %>" loading="lazy" class="w-288 md:w-200 h-288 md:h-200 object-cover row-start-1 col-start-1" />
            <%- end -%>
            <div class="row-start-1 col-start-1 self-end text-center">
                <h3 class="h-24 p-2 bg-blue-dark text-gray-light text-xl xl:text-2xl leading-tight flex justify-center items-center"><%= article.title %></h3>
            </div>
        </a>
        <% end %>
    </div>
    <% end %>

  </div>
</section>
