---
layout: base
title: Flight Free UK
---

<section class="introduction bg-blue-dark text-white bg-cover bg-right-top p-4 sm:p-0 sm:pb-12" style="background-image: url(/images/pexels-tobias-bjorkli-1559821-blue-1440x810.jpg)">
  <div class="container mx-auto">
    <%= partial "header" %>
    <section class="section--introduction mx-2 sm:mx-8 xl:mx-24 xxl:mx-40">
        <div class="mx-auto xl:w-4/5 flex flex-col items-center">
            <h1 class="text-4xl md:text-5xl xl:text-title font-bold leading-tight text-center mb-6 sm:mb-10">Are you ready to go big on climate action?</h1>
            <p class="md:w-2/3 xl:w-4/5 text-xl xl:text-3xl leading-tight text-center mb-8 xl:mb-10 max-w-2xl px-4 xl:px-8">Try the flight free challenge and see where staying grounded could take you.</p>
            <%= partial "svg/arrow_curled.svg" %>
        </div>
    </section>
  </div>
</section>

<section class="section--how bg-blue text-white">
  <div class="container mx-auto px-2 lg:px-16">
    <h2 class="text-4xl lg:text-5xl pt-8 pb-12 text-center">How?</h2>
    <div class="flex flex-wrap justify-center">
      <% data.how_cards.values.first(3).each do | howto | %>
          <%= partial(:home_howto, :locals => { :name => howto.title, :url => howto.url, :cover_image => howto.cover_image }) %>
      <% end %>
    </div>
    <p>
      <% link_to "/how-to/", class: "block text-right flex justify-end items-center pt-1 pb-8 font-bold text-lg xl:text-2xl hover:text-orange" do %>
        Find out more <img src="/svg/orange_arrow_right.svg" alt="arrow graphic" width="44" height="44" class="inline-block w-8 sm:w-10 h-auto ml-2" />
      <% end %>
    </p>
</section>

<%# start why %>
    <%= partial "home_why" %>
<%# end why %>

<%# start take the challenge %>
    <%= partial "home_take_the_challenge" %>
<%# end take the challenge %>

<%# start we are taking the challenge %>
    <%= partial "home_we_are_taking_the_challenge" %>
<%# end we are taking the challenge %>

<%# start mythbuster %>
    <%= partial "mythbusting" %>
<%# end mythbuster %>
