---
layout: base
title: Flight Free UK
---

<section class="introduction bg-blue-dark text-white bg-cover bg-right-top p-4 sm:p-0 sm:pb-12" style="background-image: url(/images/pexels-tobias-bjorkli-1559821-blue-1440x810.jpg)">

  <%# start why -%>
    <%= partial "header", locals: { is_home: true } -%>
  <%# end why -%>

  <div class="container mx-auto">
      <section class="section--introduction mx-2 sm:mx-8 xl:mx-24 xxl:mx-40">
        <div class="mx-auto xl:w-3/4 flex flex-col items-center">
            <h1 class="text-4xl md:text-5xl xl:text-title font-bold leading-none text-center tracking-wide mb-6">Are you ready to go big on climate action?</h1>
            <p class="md:w-2/3 xl:w-4/5 text-xl xl:text-3xl leading-tight text-center mb-8 xl:mb-10 max-w-2xl px-4 xl:px-8">Try the flight free challenge and see where staying grounded could take you.</p>
            <%= partial "svg/arrow_curled.svg" %>
        </div>
    </section>
  </div>
</section>

<%# start how %>
    <%= partial "home_how" %>
<%# end how %>

<%# start why %>
    <%= partial "home_why" %>
<%# end why %>

<%# start take the challenge %>
    <%= partial "home_take_the_challenge" %>
<%# end take the challenge %>

<%# start we are taking the challenge %>
    <%= partial "home_we_are_taking_the_challenge" %>
<%# end we are taking the challenge %>

<%# start mythbuster %>
    <%= partial "home_mythbusting" %>
<%# end mythbuster %>
