---
layout: base
title: Flight Free UK
---

<section class="text-white bg-cover bg-right-top pb-4 sm:pb-12" style="background-image: url(/images/clouds.jpg)">
  <div class="container mx-auto">
    <%= partial "header" %>
    <section class="mt-0 xs:mt-4 mb-4 mx-4 sm:mx-8 xl:mx-24 xxl:mx-40 section--introduction">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl xl:text-6xl leading-tight text-center mb-4 xs:mb-6 sm:mb-10">Could you take a flight free year?</h1>
            <p class="text-xl xl:text-4xl leading-tight text-center mb-4 xl:mb-10 max-w-3xl xl:px-8">Our mission is to <a href="/why_flight_free.html" class="text-orange">inform</a> people of the climate impact of aviation and <a href="/be_inspired.html" class="text-orange">inspire</a> them to travel by other means</p>
        </div>
    </section>

    <section class="px-4 sm:px-8 xxl:px-24 mb-8 xl:mb-16 section--testimonials">
        <h2 class="text-xl md:text-2xl xl:text-4xl leading-tight mb-8 xl:mb-10 xl:ml-6 xl:pt-4 xl:pb-2 pl-24 md:pl-16 xl:pl-32 bg-no-repeat bg-contain" style="background-image: url(/images/quotes_faded.png)">We are taking a flight free year...</h2>
        <div class="md:flex md:justify-between md:items-stretch">
        <% data.testimonials.values.sort_by(&:date).first(4).each do | testimonial | %>
            <%= partial(:home_testimonial, :locals => { :name => testimonial.title, :url => testimonial.url, :cover_image => testimonial.cover_image, :quote => testimonial.quote }) %>
        <% end %>
        </div>
      <div class="xl:text-right">
        <% link_to "/blog/categories/testimonials/", class: "text-l xl:text-2xl text-orange bg-no-repeat bg-right bg-contain py-1 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
          Read all testimonials
        <% end %>
      </div>
    </section>

    <section class="lg:flex px-4 sm:px-8 xxl:px-24 section--pledge">
      <div class="lg:w-1/2 xl:w-2/3 xl:pl-2 xs:text-center lg:text-left">
        <h2 class="text-xl xl:text-5xl leading-tight lg:w-5/6 mb-4 xs:mb-6 sm:mb-10">Join the growing number of people choosing not to fly because of the climate crisis</h2>

        <div class="pledge-progress__container lg:flex mb-4 xs:mb-6 sm:mb-10 xl:mb-24">
        <div class="w-full lg:w-5/6">

<%# start pledge progress bar %>
<%= partial "progress_bar" %>
<%# end progress bar %>

        </div>
        <div class="hidden lg:inline-block lg:w-1/6"><p class="text-xl leading-tight pl-3 py-2">10k</p></div>
        </div>

<<<<<<< HEAD
=======
        <p class="text-2xl lg:text-4xl mb-4 lg:mb-16">Help us reach 10,000!</p>

>>>>>>> mythbuster
        <div class="flex flex-wrap justify-center lg:justify-start xl:justify-between items-center w-full xl:w-5/6 mb-2 xl:mb-8">
          <h2 class="text-2xl lg:text-3xl xl:text-4xl xl:mr-4 mb-2">#FlightFree2022</h2>
          <div class="flex xs:justify-center lg:justify-start">
            <%= link_to "", "https://twitter.com/intent/tweet", query: { text: data.social_media.share.text, url: data.social_media.share.url }, class: "w-12 h-12 xl:w-16 xl:h-16 mr-2 sm:mr-12 bg-white bg-no-repeat bg-center rounded-full", style: "background-image:url(/svg/twitter.svg);background-size:60%", target: "_blank" %>
            <a href="https://instagram.com/<%= data.social_media.instagram %>" class="w-12 h-12 xl:w-16 xl:h-16 mr-2 sm:mr-12 bg-white bg-no-repeat bg-center rounded-full" style="background-image:url(/images/instagram.png);background-size:60%" target="_blank"></a>
            <%= link_to "", "https://www.facebook.com/sharer/sharer.php", query: { u: data.social_media.share.url }, class: "w-12 h-12 xl:w-16 xl:h-16 bg-white bg-no-repeat bg-center rounded-full", style: "background-image:url(/svg/facebook.svg);background-size:30%", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 mx-auto xl:w-1/3 xl:mx-0">

<%# start pledge form %>
<%= partial "pledge_form", locals: { id: "home" } %>
<%# end pledge form %>

      </div>
    </section>
  </div>
</section>

<section class="bg-blue section--why-flight-free">
  <div class="container mx-auto lg:flex lg:justify-end px-4 sm:px-8 xxl:px-20 pt-4 sm:pt-10">
    <h2 class="text-white text-4xl lg:text-5xl lg:w-1/2 lg:pl-8 xxl:pr-24">Why flight free?</h2>
  </div>
  <div class="container mx-auto lg:flex px-4 sm:px-8 xxl:px-20 pt-4 sm:pt-10 pb-8 sm:pb-16 xl:pb-24">
    <div class="lg:w-1/2 mb-10 xl:mb-0 lg:-mt-24 ml-2">
      <img src="/images/pledge-2022.jpg" class="transform -rotate-6 border-8 rounded shadow-md mt-8" />
    </div>
    <div class="lg:w-1/2 lg:pl-8 xxl:pr-24 text-white text-base xs:text-lg sm:text-xl lg:text-2xl">
      <p class="mb-4 xl:mb-6 leading-tight">Flying less is one of the best ways to reduce your carbon footprint, and taking a flight free year is a great way to discover other ways to travel. There’s never been a more important time to take action on the climate, and when lots of us do this together, real change happens.</p>
      <%= link_to "More about the campaign", "/why_flight_free.html", class: "text-orange bg-contain bg-no-repeat bg-right pr-12 py-1", style: "background-image:url(/svg/orange_arrow_right.svg)" %>
    </div>
  </div>
</section>

<<<<<<< HEAD
<section class="bg-orange section--take-action">
=======
<section class="bg-orange">
>>>>>>> mythbuster
  <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-4 sm:py-10 sm:pb-6 xl:py-24">
    <h2 class="text-4xl lg:text-5xl text-blue-dark mb-8">Take action now</h2>
    <div class="flex flex-wrap">
      <div class="xl:w-1/3 xl:pr-8 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(-4deg)">
            <img src="/svg/one.svg" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Sign the<br>pledge</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Help us reach our next target!</p>
            <button class="w-full bg-blue-dark text-white text-xl uppercase py-4" data-micromodal-trigger="pledge-modal">Pledge now</button>
          </div>
        </div>
      </div>
      <div class="xl:w-1/3 xl:px-4 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(-4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(4deg)">
            <img src="/svg/two.svg" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Share the<br>pledge</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Share with your social channels</p>
            <div class="flex justify-between sm:justify-evenly lg:justify-between w-full">
              <% link_to "https://twitter.com/intent/tweet", query: { text: data.social_media.share.text, url: data.social_media.share.url }, class: "mr-2 sm:mr-4", target: "_blank" do %>
                <img src="/svg/twitter_with_bg.svg">
              <% end %>
              <a href="https://instagram.com/<%= data.social_media.instagram %>" class="mr-2 sm:mr-4" target="_blank">
                <img src="/images/instagram_with_bg.png">
              </a>
              <% link_to "https://www.facebook.com/sharer/sharer.php", query: { u: data.social_media.share.url }, target: "_blank" do %>
                <img src="/svg/facebook_with_bg.svg">
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="xl:w-1/3 xl:pl-8 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(-4deg)">
            <img src="/svg/three.svg" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Tell us your<br>story</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Share your <br class="sm:hidden">testimonial <br class="sm:hidden">with us</p>
            <button class="w-full bg-blue-dark text-white text-xl uppercase py-4" data-micromodal-trigger="story-modal">Write story</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mythbusters" class="hidden bg-blue-dark text-white">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-4 sm:py-10 sm:pb-6 xl:py-24">
        <h2 class="text-4xl lg:text-5xl mb-8">Dispel the myths</h2>
    <div class="container bg-white text-blue-dark text-center mx-auto bg-blue-dark border border-white" style="transform: rotate(-4deg)">
    <div class="container bg-white text-blue-dark text-center mx-auto px-4 sm:px-8 xl:px-16 xxl:px-24 py-4 xl:py-8" style="transform: rotate(4deg)">
        <p class="text-lg my-4 leading-tight"><span id="mb-progress-current-question"></span> of <span id="mb-progress-total-questions"></span></p>
        <p id="mb-question" class="text-blue text-2xl xl:text-4xl text-white my-4 xl:mt-12 xl:mb-8 leading-tight"></p>
        <div id="mb-answers" class="mb-4 xl:my-16">
            <button id="mb-true" class="bg-blue-dark text-white hover:bg-orange hover:text-blue-dark text-xl border-blue-dark px-8 xl:px-16 py-4 mr-2">True</button>
            <button id="mb-false" class="bg-blue-dark text-white hover:bg-orange hover:text-blue-dark text-xl border-blue-dark px-8 xl:px-16 py-4 ml-2">False</button>
        </div>
        <p id="mb-answer-correct" class="hidden text-xl xl:text-2xl leading-tight text-center mb-4 xl:mb-8">
            <svg id="svg-correct" class="block mx-auto" width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-690.000000, -267.000000)" fill="#1F4D7B" fill-rule="nonzero"><path d="M720,267.832 C703.957,267.832 690.832,280.957 690.832,297 C690.832,313.043 703.957,326.168 720,326.168 C736.043,326.168 749.168,313.043 749.168,297 C749.168,280.957 736.043,267.832 720,267.832 Z M703.332,288.668 C703.332,286.375 705.207,284.5 707.5,284.5 C709.793,284.5 711.668,286.375 711.668,288.668 C711.668,290.961 709.793,292.836 707.5,292.836 C705.207,292.832093 703.332,290.9571 703.332,288.668 Z M733.957,309.707 C730.207,313.457 725,315.539 720,315.539 C715,315.539 709.793,313.664 706.043,309.707 C705.21097,308.87497 705.21097,307.625 706.043,306.789 C706.87503,305.95697 708.125,305.95697 708.961,306.789 C715.004,312.832 725.004,312.832 731.043,306.789 C731.87503,305.95697 733.125,305.95697 733.961,306.789 C734.79303,307.62494 734.79303,308.8749 733.957093,309.707 L733.957,309.707 Z M732.5,292.832 C730.207,292.832 728.332,290.957 728.332,288.664 C728.332,286.371 730.207,284.496 732.5,284.496 C734.793,284.496 736.668,286.371 736.668,288.664 C736.668,290.957 734.793,292.832 732.5,292.832 L732.5,292.832 Z"></path></g></svg><br />
            Correct!
        </p>
        <p id="mb-answer-incorrect" class="hidden text-xl xl:text-2xl leading-tight text-center mb-4 xl:mb-8">
            <svg id="svg-incorrect" class="block mx-auto" width="62px" height="59px" viewBox="0 0 62 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-689.000000, -267.000000)" fill="#1F4D7B" fill-rule="nonzero"><g id="sad-face" transform="translate(689.500000, 267.000000)"><path d="M30.5,0 C13.9585426,0 0.5,13.2342336 0.5,29.5 C0.5,45.7686297 13.9556308,59 30.5,59 C47.0414574,59 60.5,45.7686297 60.5,29.5 C60.5,13.2342336 47.0414574,0 30.5,0 Z M20.4308437,18.3488268 C22.6715804,18.3488268 24.4886438,20.1356058 24.4886438,22.3389969 C24.4886438,24.542388 22.6715804,26.329167 20.4308437,26.329167 C18.190107,26.329167 16.3730436,24.542388 16.3730436,22.3389969 C16.3730436,20.1356058 18.1929461,18.3488268 20.4308437,18.3488268 Z M43.2138385,43.9618791 C42.7503312,44.4959514 42.0934338,44.7727694 41.4280775,44.7727694 C40.8934775,44.7727694 40.3531703,44.5910134 39.9124627,44.2247098 C39.7958725,44.1268417 36.6024969,41.604635 30.8158623,41.604635 C24.2840868,41.604635 20.9170488,44.121201 20.7780083,44.2275015 C19.7628667,45.0048195 18.2955158,44.8370723 17.4965058,43.8472177 C16.697423,42.8573704 16.8538546,41.4257138 17.8519546,40.6343656 C18.0367911,40.4861676 22.5240082,37.0021096 30.8132998,37.0021096 C38.4117566,37.0021096 42.7620514,40.5672925 42.9440416,40.7182607 C43.9307927,41.5375261 44.0501784,42.9943799 43.2141807,43.9618218 L43.2138385,43.9618791 Z M41.5048045,26.3288806 C39.2669069,26.3288806 37.4470044,24.5421016 37.4470044,22.3387105 C37.4470044,20.1353195 39.2640678,18.3485404 41.5048045,18.3485404 C43.7455412,18.3485404 45.562608,20.1353195 45.562608,22.3387105 C45.5654481,24.5421016 43.7455412,26.3288806 41.5048045,26.3288806 Z"></path></g></g></svg><br />
            Incorrect!
        </p>
        <p id="mb-reason" class="hidden text-md leading-tight xl:mx-32 mb-4 xl:mb-8"></p>
        <p class="text-md leading-tight mb-4 xl:mb-8">Your score: <span id="mb-score-correct-answers"></span> / <span id="mb-score-total-questions"></span></p>
        <div id="mb-nav" class="mb-4 xl:mb-8">
            <button id="mb-prev" class="hidden bg-blue-dark text-white hover:bg-orange hover:text-blue-dark disabled:opacity-25 text-xl border-blue-dark px-8 xl:px-16 py-4 mr-2">Previous question</button>
            <button id="mb-next" class="bg-blue-dark text-white hover:bg-orange hover:text-blue-dark disabled:opacity-25 text-xl border-blue-dark px-8 xl:px-16 py-4 mr-2">Next question</button>
        </div>
    </div>
    </div>
    <p class="mt-16">
    <%= link_to "Find out more in our FAQs", "/faq.html", class: "text-orange text-base xs:text-lg sm:text-xl lg:text-2xl bg-contain bg-no-repeat bg-right pr-12 py-1", style: "background-image:url(/svg/orange_arrow_right.svg)" %>
    </div>
</section>
<script>
    // The list of questions
    var myths = [
        {
            "question": "Aviation is responsible for 2% of global emissions",
            "answer": "false",
            "reason": "The true figure is closer to 3.5% – but that’s only because less than 20% of the global population has ever been on a plane.",
        },

        {
            "question": "Flights for work and business make up the highest proportion of flights",
            "answer": "false",
            "reason": "Business flights make up only 10% of flights from the UK. The majority of flights (63%) are for holidays.",
        },
        {
            "question": "I would save more CO2 by being vegan than by stopping flying",
            "answer": "false",
            "reason": "While we recommend veganism as a great way to cut your carbon footprint, the amount of carbon you save by being vegan for a year could be cancelled out with just one flight.",
        },
        {
            "question": "We can solve the problem of aviation emissions with technology",
            "answer": "false",
            "reason": "Green techno-fixes such as electric flights, hydrogen and sustainable fuels might reduce emissions from aviation, but on their own they are not enough – especially as it is many years before low-carbon options for flying will be available.",
        },
        {
            "question": "If I buy a carbon offset I can fly carbon neutral",
            "answer": "false",
            "reason": "No carbon offset will prevent CO2 from coming out of an aircraft, and it’s unlikely that the offset will absorb the necessary carbon – especially as many of the offsets we rely on end up burning in forest fires.",
        }
    ];
    // Let's store our answers
    var myth_answers = [];
    // Which question are we on?
    var current_myth = 0;
    // Keep score
    var myth_score = 0;

    // Our DOM objects
    var mythbusters = document.getElementById("mythbusters");
    var mb_question = document.getElementById("mb-question");
    var mb_correct = document.getElementById("mb-answer-correct");
    var mb_incorrect = document.getElementById("mb-answer-incorrect");
    var mb_reason = document.getElementById("mb-reason");
    var mb_answers = document.getElementById("mb-answers");
    var mb_button_true = document.getElementById("mb-true");
    var mb_button_false = document.getElementById("mb-false");
    var mb_nav = document.getElementById("mb-nav");
    var mb_button_prev = document.getElementById("mb-prev");
    var mb_button_next = document.getElementById("mb-next");
    var mb_progress = document.getElementById("mb-progress-current-question");
    var mb_progress_total = document.getElementById("mb-progress-total-questions");
    var mb_score = document.getElementById("mb-score-correct-answers");
    var mb_score_total = document.getElementById("mb-score-total-questions");

    // Initialise the system
    if ( 0 < myths.length ) {
        mbInit();
    }
    function mbInit() {
        // Sort out our counters
        mb_progress_total.innerHTML = myths.length;
        mb_score.innerHTML = '0';
        mb_score_total.innerHTML = myths.length;

        // Get our buttons ready for action
        mb_button_true.addEventListener( 'click', function(e) {
            e.preventDefault();
            mbAnswer( 'true' );
        });
        mb_button_false.addEventListener( 'click', function(e) {
            e.preventDefault();
            mbAnswer( 'false' );
        });
        mb_button_prev.addEventListener( 'click', function(e) {
            e.preventDefault();
            mbPrev( false );
        });
        mb_button_next.addEventListener( 'click', function(e) {
            e.preventDefault();
            mbNext( false );
        });

        // Hide our previous button (because we're at the beginning)
        disable( mb_button_prev );

        // Load the first question
        mbMythDisplay();

        // All ready so show the Myth busters section
        mythbusters.classList.remove("hidden");
    }
    // Manage answers
    function mbAnswer(answer) {
        // Set the current answer
        myth_answers[current_myth] = answer;
        // Calculate the score so far
        myth_score = 0;
        for ( var i = 0; i < myths.length; i++ ) {
            if ( myths[i].answer == myth_answers[i] ) {
                myth_score++;
            }
        }
        mbMythDisplay();
    }
    // Set the display for the current myth
    function mbMythDisplay() {
        // Show the correct question
        mb_question.innerHTML = myths[current_myth].question

        // Sort out our counters
        mb_progress.innerHTML = current_myth + 1;
        mb_score.innerHTML = myth_score;

        if ( 'true' == myth_answers[current_myth] || 'false' == myth_answers[current_myth] ) { // there's already an answer...

            // Disable our answer buttons
            hide( mb_answers );

            // Show the reason
            mb_reason.innerHTML = myths[current_myth].reason;
            show( mb_reason );

            // Show our navigation buttons
            show( mb_nav );
            
            if ( myths[current_myth].answer == myth_answers[current_myth] ) { // the answer is correct...
                // Show the answer
                show( mb_correct );
                hide( mb_incorrect );
            } else { // the answer is incorrect...
                // Show the answer
                show( mb_incorrect );
                hide( mb_correct );
            }
        } else { // no answer yet
            hide( mb_correct );
            hide( mb_incorrect );
            hide( mb_reason );
            hide( mb_nav );
            show( mb_answers );
        }
    }

    // Move to the previous question
    function mbPrev() {
        // Move to the previous myth
        current_myth--;
        mbMove();
    }
    // Move to the next question
    function mbNext() {
        // Move to the next myth
        current_myth++;
        mbMove();
    }
    // When we remove perform some resetting
    function mbMove() {

        mbMythDisplay();

        // Don't allow us to go any further back if we're on the first myth
        if ( 0 == current_myth ) {
            disable( mb_button_prev );
        } else {
            enable( mb_button_prev );
        }
        // Don't allow us to go any further forward if we're on the last myth
        if ( myths.length - 1 == current_myth ) {
            //disable( mb_button_next );
            hide( mb_button_next );
        } else {
            enable( mb_button_next );
        }
    }
    // Utility functions to show/hide elements
    function show(element) {
        if ( hasClass(element, 'hidden' )) {
            element.classList.remove('hidden');
        }
    }
    function hide(element) {
        if ( ! hasClass(element, 'hidden' )) {
            element.classList.add('hidden');
        }
    }
    // Utility functions to enable/disable elements
    function enable(button) {
        if ( button.disabled ) {
            button.disabled = false;
        }
    }
    function disable(button) {
        if ( ! button.disabled ) {
            button.disabled = true;
        }
    }
    // Utility function to check if an element has a class
    function hasClass(element, className) {
        return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
    }
</script>

<section class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 pt-4 sm:pt-16 pb-6 sm:pb-8 xl:px-16 xxl:px-48 xl:pt-24 xl:pb-20">
    <h2 class="text-4xl lg:text-5xl text-blue-dark mb-2 xl:mb-0">Be inspired</h2>
    <p class="text-xl xl:text-2xl text-blue mb-4 xl:mb-8 leading-tight">Our podcasts, blogs, and videos are packed full with inspiring stories of flight-free travels, motivational tales for reducing your carbon footprint, and uplifting testimonials of how taking a flight free year has changed people's lives for the better.</p>
    <div class="xl:flex mb-2 xl:mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight">
            Listen
        </h3>
        <p class="xl:flex-grow xl:flex justify-end items-center">
            <% link_to "/podcast.html", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                Be inspired by our podcast series
            <% end %>
        </p>
    </div>
    <div class="sm:flex bg-blue-dark mb-4 xl:mb-12">
        <% podcast = data.podcasts.values.sort_by(&:date).reverse.first %>
        <a href="<%= podcast.url %>" target="_blank" class="block h-40 sm:h-auto w-full sm:w-56 bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcast.cover_image %>" %></a>
        <div class="text-white py-4 xl:py-6 px-4 sm:px-8 xl:px-10 sm:w-1/3">
            <a href="<%= podcast.url %>" target="_blank" class="block text-lg xl:text-xl pl-10 mb-4 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
            <a href="<%= podcast.url %>" target="_blank" class="block text-xl xl:text-2xl leading-tight">
                <%= podcast.title %>
            </a>
        </div>
    </div>
    <div class="xl:flex mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight">
            Read
        </h3>
        <p class="xl:flex-grow xl:flex justify-end items-center">
            <% link_to "/be_inspired.html", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                Find all of our blog content here
            <% end %>
        </p>
    </div>
    <div class="flex flex-wrap xl:flex-no-wrap mb-4">
        <div class="w-full md:w-1/3 xl:mr-6 mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[0] } %>
        </div>
        <div class="w-full md:w-1/3 xl:mx-3 mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[1] } %>
        </div>
        <div class="w-full md:w-1/3 xl:ml-6 mb-4 sm:mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[2] } %>
        </div>
    </div>
    <div class="xl:flex mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight mb-2">
            Watch
        </h3>
        <p class="xl:flex-grow xl:flex justify-end items-center">
            <% link_to "https://vimeo.com/flightfreeuk", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                See more videos
            <% end %>
        </p>
    </div>
    <div class="flex flex-wrap xl:flex-no-wrap mb-4 xl:mb-8">
        <% videos = data.videos.values.sort_by(&:date).reverse %>
        <div class="w-full md:w-1/2 xl:mr-5 mb-8 bg-white text-blue-dark">
            <a href="<%= videos[0].url %>" class="block pb-16-9 bg-contain bg-center" style="background-image:url(<%= videos[0].cover_image %>)" title="Link to <%= videos[0].title %> video" target="_blank" rel="nofollow"></a>
        </div>
        <div class="w-full md:w-1/2 xl:ml-5 mb-8 bg-white text-blue-dark">
            <a href="<%= videos[1].url %>" class="block pb-16-9 bg-contain bg-center" style="background-image:url(<%= videos[1].cover_image %>)" title="Link to <%= videos[1].title %> video" target="_blank" rel="nofollow"></a>
        </div>
    </div>
  </div>
</section>
