---
layout: base
title: Flight Free UK
---

<section class="text-white bg-cover bg-right-top pb-4 sm:pb-12" style="background-image: url(/images/clouds.jpg)">
  <div class="container mx-auto">
    <%= partial "header" %>
    <section class="mt-0 xs:mt-4 mb-4 mx-4 sm:mx-8 xl:mx-24 xxl:mx-40 section--introduction">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl xl:text-6xl leading-tight text-center mb-4 xs:mb-6 sm:mb-10">Could you take a flight free year?</h1>
            <p class="text-xl xl:text-4xl leading-tight text-center mb-4 xl:mb-10 max-w-3xl xl:px-8">Our mission is to <a href="/why_flight_free.html" class="text-orange">inform</a> people of the climate impact of aviation and <a href="/be_inspired.html" class="text-orange">inspire</a> them to travel by other means</p>
        </div>
    </section>

    <section class="px-4 sm:px-8 xxl:px-24 mb-8 xl:mb-16 section--testimonials">
        <h2 class="text-xl md:text-2xl xl:text-4xl leading-tight mb-8 xl:mb-10 xl:ml-6 xl:pt-4 xl:pb-2 pl-24 md:pl-16 xl:pl-32 bg-no-repeat bg-contain" style="background-image: url(/images/quotes-orange.png)">We are taking a flight free year...</h2>
        <div class="md:flex md:justify-between md:items-stretch">
        <% data.testimonials.values.sort_by(&:date).first(4).each do | testimonial | %>
            <%= partial(:home_testimonial, :locals => { :name => testimonial.title, :url => testimonial.url, :cover_image => testimonial.cover_image, :quote => testimonial.quote }) %>
        <% end %>
        </div>
      <div class="text-right">
        <% link_to "/blog/categories/testimonials/", class: "text-xl xl:text-2xl text-orange bg-no-repeat bg-right bg-contain py-1 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
          Read all testimonials
        <% end %>
      </div>
    </section>

    <section class="lg:flex px-4 sm:px-8 xxl:px-24 section--pledge">
      <div class="lg:w-1/2 xl:w-2/3 xl:pl-2 xs:text-center lg:text-left">
        <h2 class="text-3xl xl:text-5xl leading-tight mb-4 xs:mb-6 sm:mb-10">Pledge to be flight free in 2022</h2>
        <p class="text-xl xl:text-3xl leading-tight lg:w-5/6 mb-4 xs:mb-6 sm:mb-12">and join the growing number of people choosing not to fly because of the climate crisis</p>

        <div class="pledge-progress__container lg:flex mb-2">
          <div class="w-full lg:w-5/6">

<%# start pledge progress bar %>
<%= partial "progress_bar" %>
<%# end progress bar %>

          </div>
          <div class="hidden lg:inline-block lg:w-1/6">
            <p class="text-2xl leading-tight pl-3 py-2">2k</p>
          </div>
        </div>

        <p class="text-2xl lg:text-4xl mb-4 lg:mb-16">Help us reach 2,000!</p>

        <div class="flex flex-wrap justify-center lg:justify-start xl:justify-between items-center w-full xl:w-5/6 mb-2 xl:mb-8">
          <h2 class="text-2xl lg:text-3xl xl:text-4xl mr-2 xl:mr-4 mb-2">#FlightFree2022</h2>
          <div class="flex xs:justify-center lg:justify-start">
            <%= link_to "", "https://twitter.com/intent/tweet", query: { text: data.social_media.share.text, url: data.social_media.share.url }, class: "w-12 h-12 xl:w-16 xl:h-16 mr-4 sm:mr-12 bg-white bg-no-repeat bg-center rounded-full", style: "background-image:url(/svg/twitter.svg);background-size:60%", target: "_blank" %>
            <a href="https://instagram.com/<%= data.social_media.instagram %>" class="w-12 h-12 xl:w-16 xl:h-16 mr-4 sm:mr-12 bg-white bg-no-repeat bg-center rounded-full" style="background-image:url(/images/instagram.png);background-size:60%" target="_blank"></a>
            <%= link_to "", "https://www.facebook.com/sharer/sharer.php", query: { u: data.social_media.share.url }, class: "w-12 h-12 xl:w-16 xl:h-16 bg-white bg-no-repeat bg-center rounded-full", style: "background-image:url(/svg/facebook.svg);background-size:30%", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 mx-auto xl:w-1/3 xl:mx-0">

<%# start pledge form %>
<%= partial "pledge_form", locals: { id: "home" } %>
<%# end pledge form %>

      </div>
    </section>
  </div>
</section>

<section class="bg-blue section--why-flight-free">
  <div class="container mx-auto lg:flex lg:justify-end px-4 sm:px-8 xxl:px-20 pt-4 sm:pt-10">
    <h2 class="text-white text-4xl lg:text-5xl lg:w-1/2 lg:pl-8 xxl:pr-24">Why flight free?</h2>
  </div>
  <div class="container mx-auto lg:flex px-4 sm:px-8 xxl:px-20 pt-4 sm:pt-10 pb-8 sm:pb-16 xl:pb-24">
    <div class="lg:w-1/2 mb-10 xl:mb-0 lg:-mt-24 ml-2">
      <img src="/images/flight-free-pledge-2022.jpg" class="lg:w-5/6 transform -rotate-6 border-8 rounded shadow-md mt-8" alt="The flight free pledge" />
    </div>
    <div class="lg:w-1/2 lg:pl-8 xxl:pr-24 text-white text-xl lg:text-2xl">
      <p class="mb-4 xl:mb-6 leading-tight">Flying less is one of the best ways to reduce your carbon footprint, and taking a flight free year is a great way to discover other ways to travel. There’s never been a more important time to take action on the climate, and when lots of us do this together, real change happens.</p>
      <p class="">
          <%= link_to "More about the campaign", "/why_flight_free.html", class: "block text-orange bg-no-repeat bg-right pr-12 py-1", style: "background-image:url(/svg/orange_arrow_right.svg)" %>
        </p>
    </div>
  </div>
</section>

<section class="bg-orange section--take-action">
  <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-4 sm:py-10 sm:pb-6 xl:py-24">
    <h2 class="text-4xl lg:text-5xl text-blue-dark mb-8">Take action now</h2>
    <div class="flex flex-wrap">
      <div class="xl:w-1/3 xl:pr-8 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(-4deg)">
            <img src="/svg/one.svg" alt="one" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Sign the<br>pledge</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Help us reach our next target!</p>
            <button class="w-full bg-blue-dark text-white text-xl uppercase py-4" data-micromodal-trigger="pledge-modal">Pledge now</button>
          </div>
        </div>
      </div>
      <div class="xl:w-1/3 xl:px-4 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(-4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(4deg)">
            <img src="/svg/two.svg" alt="two" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Share the<br>pledge</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Share with your social channels</p>
            <div class="flex justify-between sm:justify-evenly lg:justify-between w-full">
              <% link_to "https://twitter.com/intent/tweet", query: { text: data.social_media.share.text, url: data.social_media.share.url }, class: "mr-2 sm:mr-4", target: "_blank" do %>
                <img src="/svg/twitter_with_bg.svg" alt="twitter logo" />
              <% end %>
              <a href="https://instagram.com/<%= data.social_media.instagram %>" class="mr-2 sm:mr-4" target="_blank">
                <img src="/images/instagram_with_bg.png" alt="instagram logo" />
              </a>
              <% link_to "https://www.facebook.com/sharer/sharer.php", query: { u: data.social_media.share.url }, target: "_blank" do %>
                <img src="/svg/facebook_with_bg.svg" alt="facebook logo" />
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="xl:w-1/3 xl:pl-8 mb-10">
        <div class="bg-orange-shadow" style="transform: rotate(4deg)">
          <div class="xs:mx-4 sm:mx-0 bg-white border-gray-300 border-4 pt-8 pb-8 px-12 text-center flex flex-wrap justify-center" style="transform: rotate(-4deg)">
            <img src="/svg/three.svg" alt="three" />
            <h3 class="w-full text-3xl text-blue-dark my-6 leading-tight">Tell us your<br>story</h3>
            <p class="w-full text-2xl mb-12 leading-tight">Share your <br class="sm:hidden">testimonial <br class="sm:hidden">with us</p>
            <button class="w-full bg-blue-dark text-white text-xl uppercase py-4" data-micromodal-trigger="story-modal">Write story</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-light section--be-inspired">
  <div class="container mx-auto px-4 sm:px-8 pt-4 sm:pt-16 pb-6 sm:pb-8 xl:px-16 xxl:px-48 xl:pt-24 xl:pb-20">
    <h2 class="text-4xl lg:text-5xl text-blue-dark mb-2 xl:mb-0">Be inspired</h2>
    <p class="text-xl xl:text-2xl text-blue mb-4 xl:mb-8 leading-tight">Our podcasts, blogs, and videos are packed full with inspiring stories of flight-free travels, motivational tales for reducing your carbon footprint, and uplifting testimonials of how taking a flight free year has changed people's lives for the better.</p>
    <div class="xl:flex mb-2 xl:mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight">
            Listen
        </h3>
        <p class="hidden sm:block xl:flex-grow xl:flex justify-end items-center">
            <% link_to "/podcast.html", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                Be inspired by our podcast series
            <% end %>
        </p>
    </div>
    <div class="sm:flex bg-blue-dark mb-4 xl:mb-12">
        <% podcast = data.podcasts.values.sort_by(&:date).reverse.first %>
        <a href="<%= podcast.url %>" target="_blank" class="block h-40 sm:h-auto w-full sm:w-56 bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcast.cover_image %>" %></a>
        <div class="text-white py-4 xl:py-6 px-4 sm:px-8 xl:px-10 sm:w-1/3">
            <a href="<%= podcast.url %>" target="_blank" class="block text-lg xl:text-xl pl-10 mb-4 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
            <a href="<%= podcast.url %>" target="_blank" class="block text-xl xl:text-2xl leading-tight">
                <%= podcast.title %>
            </a>
        </div>
    </div>
    <p class="sm:hidden mb-8">
        <% link_to "/podcast.html", class: "block min-h-3 xl:leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-12 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
            Be inspired by our podcast series
        <% end %>
    </p>
    <div class="xl:flex mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight">
            Read
        </h3>
        <p class="hidden sm:block xl:flex-grow xl:flex justify-end items-center">
            <% link_to "/be_inspired.html", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                Find all of our blog content here
            <% end %>
        </p>
    </div>
    <div class="flex flex-wrap xl:flex-no-wrap mb-4">
        <div class="w-full md:w-1/3 xl:mr-6 mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[0] } %>
        </div>
        <div class="w-full md:w-1/3 xl:mx-3 mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[1] } %>
        </div>
        <div class="w-full md:w-1/3 xl:ml-6 mb-4 sm:mb-8 bg-white text-blue-dark">
          <%= partial "home_blog_post", locals: { article: blog.articles[2] } %>
        </div>
    </div>
    <p class="sm:hidden xl:flex-grow xl:flex justify-end items-center mb-8">
        <% link_to "/be_inspired.html", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right pb-2 pr-12 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
            Find all of our blog content here
        <% end %>
    </p>
    <div class="xl:flex mb-4">
        <h3 class="text-2xl xl:text-4xl text-blue-dark leading-tight mb-2">
            Watch
        </h3>
        <p class="hidden sm:block xl:flex-grow xl:flex justify-end items-center">
            <% link_to "https://vimeo.com/flightfreeuk", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
                See more videos
            <% end %>
        </p>
    </div>
    <div class="flex flex-wrap xl:flex-no-wrap mb-4 xl:mb-8">
        <% videos = data.videos.values.sort_by(&:date).reverse %>
        <div class="w-full md:w-1/2 xl:mr-5 mb-8 bg-white text-blue-dark">
            <a href="<%= videos[0].url %>" class="block pb-16-9 bg-contain bg-center" style="background-image:url(<%= videos[0].cover_image %>)" title="Link to <%= videos[0].title %> video" target="_blank" rel="nofollow"></a>
        </div>
        <div class="w-full md:w-1/2 xl:ml-5 mb-8 bg-white text-blue-dark">
            <a href="<%= videos[1].url %>" class="block pb-16-9 bg-contain bg-center" style="background-image:url(<%= videos[1].cover_image %>)" title="Link to <%= videos[1].title %> video" target="_blank" rel="nofollow"></a>
        </div>
    </div>
    <p class="sm:hidden xl:flex-grow xl:flex justify-end items-center mb-8">
        <% link_to "https://vimeo.com/flightfreeuk", class: "block min-h-3 leading-tight text-base xl:text-xl text-blue-dark bg-no-repeat bg-right py-2 pr-10 xl:pr-16", style: "background-image:url(#{image_path("/svg/orange_arrow_right.svg")})" do %>
            See more videos
        <% end %>
    </p>
  </div>
</section>

<%# start mythbuster %>
    <%= partial "mythbusting" %>
<%# end progress bar %>
