---
title: Podcast
---
<section class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-4 sm:pb-12 xl:pb-20">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-4 sm:mb-6 leading-tight">Flight Free Podcast</h1>
    <p class="text-xl sm:text-2xl xl:text-3xl mb-6 sm:mb-12 xl:mb-16 leading-tight text-blue">Welcome to the Flight Free UK podcast. Our '2021' series brings a new episode each month, featuring inspirational interviews with scientists, campaigners and travellers. Scroll down further for interviews with activists, politicians and others about why they've pledged to be flight free.</p>
    <% podcasts = data.podcasts.values.sort_by(&:date).reverse %>
    <% podcast = podcasts.shift %>
    <div class="xl:flex bg-blue-dark mb-4 sm:mb-10 xl:mb-12 bg-no-repeat bg-right-top" style="background-image:url(/images/latest_podcast.png)">
      <div class="relative xl:w-1/2">
        <a href="<%= podcast.url %>" target="_blank" class="block w-full h-48 xl:h-full bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcast.cover_image %>)"></a>
        <div class="absolute inset-0 bg-no-repeat bg-right-top xl:hidden" style="background-image:url(/images/latest_podcast.png)"></div>
      </div>
      <div class="relative lg:w-1/2 px-4 sm:px-8 py-4 sm:py-6 lg:px-16 lg:py-8">
        <a href="<%= podcast.url %>" target="_blank" class="block text-lg xl:text-2xl text-white leading-tight mb-4">
            <%= podcast.title %>
        </a>
        <a href="<%= podcast.url %>" target="_blank" class="block text-base xl:text-xl text-white leading-tight mb-4 xl:mb-10">
            <%= podcast.summary %>
        </a>
        <a href="<%= podcast.url %>" target="_blank" class="inline-block text-lg xl:text-xl text-white pl-10 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
      </div>
    </div>
    <% podcasts.each do |podcast| %>
      <div class="lg:flex bg-blue-dark mb-4 sm:mb-10 xl:mb-12 text-white xl:min-h-160">
        <a href="<%= podcast.url %>" target="_blank" class="flex-none block h-48 xs:h-64 sm:h-80 md:h-96 lg:h-auto w-full lg:w-56 bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcast.cover_image %>" %></a>
        <div class="py-4 sm:py-6 px-4 sm:px-8 xl:px-10 flex-shrink self-start leading-tight">
            <a href="<%= podcast.url %>" target="_blank" class="block text-lg xl:text-2xl mb-4">
              <%= podcast.title %>
            </a>
            <div class="lg:flex justify-between">
                <a href="<%= podcast.url %>" target="_blank" class="block text-base">
                    <%= podcast.summary %>
                </a>
                <div class="flex-none text-center lg:text-right lg:self-start pt-6 xl:pt-0 pb-2 xl:pl-8">
                    <a href="<%= podcast.url %>" target="_blank" class="mx-auto text-lg xl:text-xl pl-8 sm:pl-10 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
                </div>
            </div>
        </div>
      </div>
    <% end %>
    <a href="#" class="hidden text-xl text-blue-dark">Load more podcasts</a>
  </div>
</section>
