---
title: Podcast
---
<section class="bg-gray-light px-8 lg:px-48 pt-12 xl:pt-24 pb-12 xl:pb-20">
  <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6 leading-tight">Flight Free Podcast</h1>
  <p class="text-2xl xl:text-3xl mb-12 xl:mb-16 leading-tight text-text-gray-light">Welcome to the Flight Free UK podcast! Here we interview activists, politicians and others about why they've pledged to be #flightfree in 2020</p>
  <% podcasts = data.podcasts.values.sort_by(&:date).reverse %>
  <div class="xl:flex bg-blue-dark mb-10 xl:mb-12 bg-no-repeat bg-right-top" style="background-image:url(/images/latest_podcast.png)">
    <div class="relative xl:w-1/2">
      <a href="<%= podcasts.first.url %>" target="_blank" class="block h-48 w-full xl:h-full bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcasts.first.cover_image %>)"></a>
      <div class="absolute inset-0 bg-no-repeat bg-right-top xl:hidden" style="background-image:url(/images/latest_podcast.png)"></div>
    </div>
    <div class="relative xl:w-1/2 px-8 py-6 xl:px-16 xl:py-16">
      <a href="<%= podcasts.first.url %>" target="_blank" class="block text-lg xl:text-2xl text-white leading-tight mb-6 xl:mb-10"><%= podcasts.first.summary %></a>
      <a href="<%= podcasts.first.url %>" target="_blank" class="inline-block text-lg xl:text-xl text-white pl-10 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
    </div>
  </div>
  <% podcasts[1..-1].each do |podcast| %>
    <div class="xl:flex bg-blue-dark mb-10 xl:mb-12 text-white">
      <a href="<%= podcast.url %>" target="_blank" class="block h-32 w-full xl:w-56 bg-no-repeat bg-cover bg-top" style="background-image:url(<%= podcast.cover_image %>" %></a>
      <a href="<%= podcast.url %>" target="_blank" class="block py-6 px-8 xl:px-10 xl:w-1/3 text-lg xl:text-2xl leading-tight self-center">
        <%= podcast.title %>
      </a>
      <div class="flex-grow xl:flex items-center justify-end pb-6 px-8 xl:pb-0 xl:pl-0 xl:pr-12">
        <a href="<%= podcast.url %>" target="_blank" class="text-lg xl:text-xl pl-10 bg-no-repeat bg-contain" style="background-image:url(/svg/podcast.svg)">Listen now</a>
      </div>
    </div>
  <% end %>
  <a href="#" class="hidden text-xl text-blue-dark">Load more podcasts</a>
</section>
