---
title: Resources
---
<main>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h1 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">Resources</h1>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Download the resources for the 2023 flight free challenge here:</p>
    <div class="md:flex space-between">
      <ul class="flex-shrink">
        <li class="text-xl xl:text-3xl mt-1 pl-12 py-2 relative">
          <div style="position:absolute;left:0;">
            <%= partial "svg/dot_pink.svg" %>
          </div>
          'Flight free for the climate'<br>
          Choose if you are joining the pledge to be completely flight free in 2023
        </li>
        <li class="text-xl xl:text-3xl mt-1 pl-12 py-2 relative">
          <div style="position:absolute;left:0;">
            <%= partial "svg/dot_pink.svg" %>
          </div>
          'I am taking the flight free challenge'<br>
          Choose if you are making a custom pledge
        </li>
      </ul>
      <div class="flex-grow flex-shrink-0 flex flex-col items-center md:flex-row md:justify-between">
        <a href="/downloads/FLIGHT_FREE_FOR_THE_CLIMATE.pdf" target="_blank" class="w-220 ml-4 mb-8 flex flex-col items-center">
          <img src="/images/FLIGHT_FREE_FOR_THE_CLIMATE.jpg" alt="Flight free for the climate" class="w-220" />
          <%= partial "svg/download_arrow.svg" %>
        </a>
        <a href="/downloads/I_AM_TAKING_THE_FLIGHT_FREE_CHALLENGE.pdf" target="_blank" class="w-220 ml-4 mb-8 flex flex-col items-center">
          <img src="/images/I_AM_TAKING_THE_FLIGHT_FREE_CHALLENGE.jpg" alt="I am taking the flight free challenge" class="w-220" />
          <%= partial "svg/download_arrow.svg" %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Other resources from Flight Free UK:</p>
    <ul class="pb-12">
      <li class="text-xl xl:text-3xl mt-1 pl-12 py-2 relative">
        <div style="position:absolute;left:0;">
          <%= partial "svg/dot_pink.svg" %>
        </div>
        Flight Free UK campaign leaflets<br>
        Print A6 size, 4-per-page, double-sided, or order a batch <a href="mailto:info@flightfree.co.uk?subject=Flight+Free+UK+campaign+leaflets+A6+size" class="border-b-4 border-orange hover:text-orange">here</a>
      </li>
      <li class="text-xl xl:text-3xl mt-1 pl-12 py-2 relative">
        <div style="position:absolute;left:0;">
          <%= partial "svg/dot_pink.svg" %>
        </div>
        Postcard infographics<br>
        Order a batch <a href="mailto:info@flightfree.co.uk?subject=Flight+Free+UK+Postcard+infographics" class="border-b-4 border-orange hover:text-orange">here</a>
      </li>
      <li class="text-xl xl:text-3xl mt-1 pl-12 py-2 relative">
        <div style="position:absolute;left:0;">
          <%= partial "svg/dot_pink.svg" %>
        </div>
        'We need to talk about aviation'<br>
        our guide to having conversations about climate and aviation.
      </li>
    </ul>
    <div class="w-full flex flex-col md:flex-row justify-center">
      <a href="/downloads/A6_FLYER.pdf" target="_blank" class="mb-8 flex flex-col items-center">
        <img src="/images/A6_FLYER.png" alt="Flight Free UK campaign leaflet" />
        <%= partial "svg/download_arrow.svg" %>
      </a>
      <a href="/downloads/postcards_collection.jpg" alt="alt" class="mb-8 mx-16 flex justify-center">
        <img src="/images/postcards_collection_small.jpg" alt="Postcard infographics" />
      </a>
      <a href="/downloads/WeNeedToTalkAboutAviationFFUK-2022.pdf" target="_blank" class="mb-8 flex flex-col items-center">
        <img src="/images/WeNeedToTalkAboutAviation_cover.jpg" alt="We need to talk about aviation" class="w-220" />
        <%= partial "svg/download_arrow.svg" %>
      </a>
    </div>
  </div>
</section>

</main>
