---
title: Resources
---
<main>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold leading-tight mb-10">Resources</h1>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">If you would like to send us a testimonial, please use these posters for your picture (download and print or display on your phone or tablet):</p>
    <div class="md:flex space-between">
      <ul class="flex-shrink">
        <li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
          <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
          <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
          'Flight free for the climate'<br>
          Choose if you are joining the pledge to be completely flight free in 2024
          </span>
        </li>
        <li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
          <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
          <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
          'I am taking the flight free challenge'<br>
          Choose if you are making a custom pledge
          </span>
        </li>
      </ul>
      <div class="flex-grow flex-shrink-0 flex flex-col items-center md:flex-row md:justify-between">
        <a href="/downloads/FLIGHT_FREE_FOR_THE_CLIMATE_2024.pdf" target="_blank" class="w-220 ml-4 mb-8 flex flex-col items-center">
          <img src="/images/FLIGHT_FREE_FOR_THE_CLIMATE_2024.jpg" alt="Flight free for the climate" class="w-220" />
          <%= partial "svg/download_arrow.svg" %>
        </a>
        <a href="/downloads/I_AM_TAKING_THE_FLIGHT_FREE_CHALLENGE!_2024.pdf" target="_blank" class="w-220 ml-4 mb-8 flex flex-col items-center">
          <img src="/images/I_AM_TAKING_THE_FLIGHT_FREE_CHALLENGE!_2024.jpg" alt="I am taking the flight free challenge" class="w-220" />
          <%= partial "svg/download_arrow.svg" %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Resources to hand out at your local group or at a green fair or festival: <br>Order a batch <a href="mailto:info@flightfree.co.uk?subject=Flight+Free+UK+leaflets+resources" class="underline underline-orange hover:text-orange">here</a> (please specify which you'd like)</p>
    <ul class="pb-12">
      <li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
        <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
        <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
        Flight Free UK campaign leaflets<br>
        A double-sided A6 leaflet that explains what the Flight Free Challenge is and why we encourage people to give flight-free travel a try.
        </span>
      </li>
      <li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
        <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
        <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
        Postcard infographics<br>
        Various designs with bar charts, facts and illustrations to show why choosing flight-free travel can help reduce emissions.
        </span>
      </li>
<li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
        <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
        <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
        Information sheets<br>
        Brief explanations of the reasons for going flight-free.
        </span>
      </li>      
    </ul>
    <div class="w-full flex flex-col md:flex-row justify-center">
      <a href="/downloads/A6_FLYER.pdf" target="_blank" class="mb-8 flex flex-col items-center">
        <img src="/images/A6_FLYER.png" alt="Flight Free UK campaign leaflet" />
        <%= partial "svg/download_arrow.svg" %>
      </a>
      <a href="/downloads/postcards_collection.jpg" alt="alt" class="mb-8 mx-16 flex justify-center">
        <img src="/images/postcards_collection_small.jpg" alt="Postcard infographics" />
      </a>
      <a href="/downloads/WeNeedToTalkAboutAviationFFUK-2022.pdf" target="_blank" class="mb-8 flex flex-col items-center">
        <img src="/images/WeNeedToTalkAboutAviation_cover.jpg" alt="We need to talk about aviation" class="w-220" />
        <%= partial "svg/download_arrow.svg" %>
      </a>
    </div>
  </div>
</section>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Downloadable resources:</p>
    <ul class="pb-12">
     <li class="text-xl xl:text-3xl py-1 sm:py-2 flex">
        <span class="inline-block w-20 flex-none"><%= partial "svg/dot_pink.svg" %></span>
        <span class="ml-1 md:ml-4 text-xl xl:text-3xl">
        'We need to talk about aviation'<br>
        Download our guide to having conversations about climate and aviation.
        </span>
      </li>
    </ul>
  </div>
</section>

</main>
