---
layout: base
title: Take action
---
<div class="bg-blue bg-cover" style="background-image: url(/images/clouds_take_action.png)">
  <div class="container mx-auto text-white pb-12">
    <%= partial "header" %>
    <section class="lg:flex mx-8 lg:mx-48 mt-10">
      <div class="hidden lg:block w-1/3">
        <iframe src="https://services.wedonthavetime.org/campaign/kzsAyW1/" class="hidden xl:block w-full" style="min-height:430px"></iframe>
      </div>
      <div class="lg:w-2/3 lg:pl-20 lg:pt-16">
        <img src="/svg/one_white_bg.svg" class="mb-6" />
        <h1 class="text-4xl xl:text-5xl leading-tight mb-6 xl:mb-4">Make the pledge to be flight free in 2020</h1>
        <p class="text-xl xl:text-2xl leading-tight">Join the growing number of people choosing not to fly in 2020. Could you be one of the 100,000?</p>
        <button class="bg-orange text-blue-dark text-lg mt-10 mb-8 w-full py-4 xl:hidden" data-micromodal-trigger="pledge-modal">Sign the pledge</button>
      </div>
    </section>
  </div>
</div>
<section class="bg-blue-dark">
  <div class="container mx-auto pl-8 pr-16 lg:px-48 py-20 xl:py-24 text-white">
    <div class="xl:flex mb-10 xl:mb-8">
      <img src="/svg/two_white_bg.svg" class="mb-8 xl:mb-0 xl:mr-6" />
      <h2 class="text-4xl xl:text-5xl">Share the pledge</h2>
    </div>
    <div class="xl:flex text-2xl xl:pl-20">
      <a href="https://twitter.com/<%= data.social_media.twitter %>" class="flex mb-8 xl:mb-0 bg-no-repeat bg-center-left bg-contain leading-tight pl-20" style="background-image:url(/svg/twitter_with_bg.svg)">
        Share on Twitter
      </a>
      <a href="https://facebook.com/<%= data.social_media.facebook %>" class="flex mb-8 xl:mb-0 bg-no-repeat bg-center-left bg-contain leading-tight pl-20" style="background-image:url(/svg/facebook_white_bg.svg)">
        Post to Facebook
      </a>
      <a href="https://instagram.com/<%= data.social_media.instagram %>" class="flex bg-no-repeat bg-center-left bg-contain leading-tight pl-20" style="background-image:url(/images/instagram_with_bg.png)">
        Add to your story on Instagram
      </a>
    </div>
  </div>
</section>
<section class="bg-blue">
  <div class="container mx-auto px-8 xl:px-48 pt-20 xl:pt-24 pb-16 xl:pb-20 text-white overflow-hidden">
    <div class="xl:flex">
      <div class="xl:w-1/3">
        <div class="border border-white" style="transform: rotate(-7deg)">
          <div class="bg-blue-dark text-center px-6 py-10 xl:py-12" style="transform: rotate(7deg)">
            <img src="/images/your_story_avatar.png" class="mb-8 mx-auto w-32 xl:w-auto" />
            <div class="text-xl xl:text-2xl mb-4">Lewis McNeill</div>
            <p class="text-2xl xl:text-3xl mb-4 leading-tight">“Pledging not to fly is not just about reducing emissions, it’s about creating social change.”</p>
            <a href="#" class="text-xl xl:text-2xl text-orange">
              See all testimonials
              <img src="/svg/orange_arrow_right.svg" class="mt-2 mx-auto w-8 xl:w-auto"/>
            </a>
          </div>
        </div>
      </div>
      <div class="xl:w-2/3 xl:pl-20 pt-20 xl:pt-24 xl:flex items-start">
        <img src="/svg/three_white_bg.svg" class="mb-16 xl:mb-6 xl:w-40" />
        <div class="xl:pl-10">
          <h1 class="text-4xl xl:text-5xl leading-tight mb-8">Tell us your story</h1>
          <p class="text-2xl leading-tight mb-8">Have you taken the #flightfree2020 pledge? Do you have a tale to tell about flight free travel? We want to hear from you!<p>
          <p class="text-2xl leading-tight mb-12">Send us:</p>
          <p class="text-2xl leading-tight mb-12">Your name and location</p>
           <p class="text-2xl leading-tight mb-12">A statement about why you've pledged</p>
           <p class="text-2xl leading-tight mb-12">A photo of you with the pledge card</p>
            <p class="text-2xl leading-tight mb-12">Email your story to<a href="mailto:info@flightfree.co.uk">info@flightfree.co.uk</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<%= partial "story_modal" %>
