---
layout: base
title: Take action
---
<div class="bg-blue bg-cover" style="background-image: url(/images/clouds_take_action.png)">
  <div class="container mx-auto text-white pb-6 sm:pb-12">
    <%= partial "header" %>
    <section class="lg:flex mx-4 sm:mx-8 xl:mx-24 xxl:mx-48 mt-2 xs:mt-8">
      <div class="hidden lg:block w-1/3">
        <%= partial "pledge_form", locals: { id: "home" } %>
      </div>
      <div class="lg:w-2/3 lg:pl-20 lg:pt-16 lg:flex items-start">
        <img src="/svg/one_white_bg.svg" class="flex-none mb-4 mx-auto" />
        <div class="lg:pl-10">
          <h1 class="text-4xl xl:text-5xl leading-tight mb-2 xs:mb-4">Make the pledge to be flight free in 2021</h1>
          <p class="text-xl xl:text-2xl leading-tight">More and more people are choosing not to fly for climate reasons. Could you join them?</p>
          <button class="bg-orange text-blue-dark text-lg mt-4 xs:mt-10 mb-0 sm:mb-8 w-full py-4 lg:hidden" data-micromodal-trigger="pledge-modal">Sign the pledge</button>
        </div>
      </div>
    </section>
  </div>
</div>
<section class="bg-blue-dark">
  <div class="container mx-auto pl-4 sm:pl-8 pr-4 sm:pr-16 xl:px-24 xxl:px-48 pt-6 pb-8 xs:pt-16 xs:pb-10 sm:pb-20 xl:pt-24 xl:pb-24 text-white">
    <div class="xl:flex mb-4 md:mb-8 lg:flex items-start">
      <img src="/svg/two_white_bg.svg" class="flex-none mb-4 mx-auto lg:mr-8 lg:ml-0" />
      <h2 class="text-4xl xl:text-5xl">Share the pledge</h2>
    </div>
    <div class="md:flex justify-between text-xl xl:px-20">
      <% link_to "https://twitter.com/intent/tweet", query: { text: data.social_media.share.text, url: data.social_media.share.url }, class: "block relative mb-8 xl:mb-0 leading-tight pl-20 lg:flex items-center", target: "_blank" do %>
        <%= image_tag "/svg/twitter_with_bg.svg", class: "absolute top-0 left-0 w-16" %>
        Share on <span class="block">Twitter</span>
      <% end %>
      <% link_to "https://www.facebook.com/sharer/sharer.php", query: { u: data.social_media.share.url }, class: "block relative leading-tight mb-8 xl:mb-0 pl-20 lg:flex items-center", target: "_blank" do %>
        <%= image_tag "/svg/facebook_white_bg.svg", class: "absolute top-0 left-0 w-16" %>
        Post to <br/>Facebook
      <% end %>
      <a href="https://instagram.com/<%= data.social_media.instagram %>" class="block relative mb-8 xl:mb-0 leading-tight pl-20 lg:flex items-center" target="_blank">
        <%= image_tag "/images/instagram_with_bg.png", class: "absolute top-0 left-0 w-16" %>
        Add to your story on <br/>Instagram
      </a>
    </div>
  </div>
</section>
<section class="bg-blue">
  <div class="container lg:flex justify-start mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-10 sm:pt-20 xl:pt-24 pb-16 xl:pb-20 text-white overflow-hidden">
      <div class="lg:w-1/3 lg:pl-8 xxl:pl-0 mb-8 sm:mb-16">
        <div class="border border-white" style="transform: rotate(-7deg)">
          <div class="bg-blue-dark text-center px-4 xs:px-6 py-6 sm:py-10 xl:py-12" style="transform: rotate(7deg)">
            <img src="/images/your_story_avatar.png" class="mb-4 sm:mb-8 mx-auto w-32 xl:w-auto" />
            <div class="text-lg xs:text-xl xl:text-2xl mb-4">Lewis McNeill</div>
            <p class="text-xl xs:text-2xl xl:text-3xl mb-4 leading-tight">“Pledging not to fly is not just about reducing emissions, it’s about creating social change.”</p>
            <a href="/blog/categories/testimonials/" class="text-xl xl:text-2xl text-orange" target="_blank">
              See all testimonials
              <img src="/svg/orange_arrow_right.svg" class="mt-2 mx-auto w-8 xl:w-auto"/>
            </a>
          </div>
        </div>
      </div>
      <div class="lg:w-2/3 lg:pl-20 lg:pt-4 lg:flex items-start">
        <img src="/svg/three_white_bg.svg" class="flex-none mb-4 sm:mb-8 lg:mb-6 mx-auto" />
        <div class="lg:pl-8">
          <h1 class="text-4xl xs:text-4xl xl:text-5xl leading-tight mb-4 lg:mb-8">Tell us your story</h1>
          <p class="text-xl xs:text-2xl leading-tight mb-4 sm:mb-8">Have you taken the flight free pledge? Do you have a tale to tell about flight free travel? We want to hear from you!<p> 
          <p class="text-2xl leading-tight mb-4 sm:mb-8">Send us:</p>
          <ul class="text-lg xl:text-2xl text-white mb-4 sm:mb-12 xl:mb-16">
            <li class="mb-2 sm:mb-6 pl-8 bg-no-repeat bg-left" style="background-image:url(/svg/story_modal_bullet.svg)">Your name and location</li>
            <li class="mb-2 sm:mb-6 pl-8 bg-no-repeat bg-left" style="background-image:url(/svg/story_modal_bullet.svg)">A statement about why you've pledged</li>
            <li class="pl-8 bg-no-repeat bg-left" style="background-image:url(/svg/story_modal_bullet.svg)">A photo of you with the <a class="text-orange underline" href="/downloads" target="_blank">pledge card</a></li>
          </ul>
          <p class="text-2xl leading-tight mb-0 sm:mb-8">Email your story to <a class="text-xl xl:text-3xl text-orange underline" href="mailto:info@flightfree.co.uk">info@flightfree.co.uk</a></p>
        </div>
      </div>
  </div>
</section>
<%= partial "story_modal" %>
