---
title: Why flight free?
---
<main>
<section class="bg-gray-light section--introduction">
  <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">Why flight free?</h1>
    <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight text-blue">Reducing our carbon footprints is vital in avoiding climate breakdown. There are lots of things we can do, like eating less meat, using renewable energy, or driving less. But did you know that just one flight can wipe out all those savings? Living sustainably whilst continuing to fly is impossible.</p>

    <div class="mx-auto mb-6 sm:mb-16 sm:w-11/12 lg:w-3/4">
      <div class="relative h-0" style="padding-bottom: 56.25%">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/488449939?byline=false" width="640" height="360" frameborder="0" allowfullscreen="" class="absolute t-0 l-0 w-full h-full"></iframe>
      </div>
    </div>

    <%#
    <p class="text-lg xl:text-xl leading-tight mt-6 mb-6">Reducing the amount you fly is the easiest way to make a meaningful reduction to your carbon footprint, and the good news is that there are lots of alternative ways to travel. With the whole of Europe on our doorstep, we have so many holiday destinations to choose from, and going overland can be a much more enjoyable experience.</p>
    <p class="text-lg xl:text-xl leading-tight mb-6">Choosing not to fly can have an impact that goes beyond just reducing our own emissions. If lots of us do this together, we will make it normal not to fly, and show politicians and industry that people are ready for change.</p>
    <p class="text-lg xl:text-xl leading-tight mb-6">Of course, flights have reduced significantly because of the Covid-19 pandemic, but we know that emissions will rebound once travel opens up again, and the climate progress we have been making will be lost. Meaningful climate action only comes when people choose to make changes – not when they’re forced to make them because of the pandemic.</p>
    <p class="text-lg xl:text-xl leading-tight mb-10">More and more people are choosing not to fly for climate reasons. Could you join them?</p>
    %>

    <%#
    <% link_to "/faq.html", class: "inline-block text-xl xl:text-2xl text-orange bg-no-repeat bg-right bg-contain py-1 pr-12 xl:pr-16 mb-12 xl:mb-16", style: "background-image:url(/svg/orange_arrow_right.svg)" do %>
    <%#>
      Find out more in our FAQs
    <% end %>
  </div>
</section>

<section class="bg-blue text-white section--climate">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl mb-6">Climate</h2>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Many people don't realise how carbon-intensive flying is, but very little else will raise your carbon footprint by so much and so quickly as taking a flight. In late 2018 the IPCC issued a stark warning that we must halve our emissions by 2030 if we are to avoid catastrophic climate change, and this requires action from all of us &ndash; especially those of us in high-carbon economies such as the UK. Reducing the amount you fly is the easiest way to make a meaningful reduction to your carbon footprint.</p>

        <a href="<%= image_path("/images/why_flight_free_personal_choices.png") %>" target="_blank">
            <img src="<%= image_path("/images/why_flight_free_personal_choices.png") %>" class="w-full mx-auto mb-12"/>
        </a>
    
        <% link_to "/faq.html", class: "block text-xl xl:text-2xl text-right text-orange hover:text-white bg-no-repeat bg-right bg-contain py-1 pr-12 xl:pr-16 mb-12 xl:mb-16", style: "background-image:url(/svg/orange_arrow_right.svg)" do %>
            Find out more about the climate impact of aviation
        <% end %>
    </div>
</section>

<section class="bg-gray-light text-text-default section--social-and-system-change">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl text-blue-dark mb-6">Social and System Change</h2>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight text-blue-dark">It might feel that your one action doesn't make a difference, but choosing not to fly can have an impact that goes beyond just reducing our own emissions. Our actions have an impact on those around us, and, if lots of us do this together, we will make it normal not to fly, showing politicians and industry that people are ready for change.</p>
    </div>
</section>

<section class="bg-orange text-text-default section--justice">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl mb-6">Justice</h2>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Even though flying might seem quite common, only around 10% of the world's population has ever been on a plane &ndash; yet the consequences of rising emissions are felt by everyone all over the world. It's a huge injustice that the people who are least responsible for causing the climate crisis are suffering the most.</p>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Even here in the UK, only around half of us fly in any given year, but the negative effects of increased emissions, air pollution and noise pollution are felt by us all. Choosing to stay grounded is a positive choice for each other as well as for the climate.</p>
    </div>
</section>

<section class="bg-gray-light text-blue-dark section--travel">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl mb-6">Travel</h2>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">The good news is that not flying doesn't mean not travelling! With the whole of Europe on our doorstep, we have so many holiday destinations to choose from. Taking the train rather than the plane can reduce emissions by as much as 90%, and going overland can be a really enjoyable experience.</p>

        <a href="<%= image_path("/images/co2-emission-from-passenger-transport.png") %>" target="_blank">
            <img src="<%= image_path("/images/co2-emission-from-passenger-transport.png") %>" class="w-2/3 mx-auto mb-12"/>
        </a>
    
        <% link_to "/be_inspired.html", class: "block text-xl xl:text-2xl text-right hover:text-orange bg-no-repeat bg-right bg-contain py-1 pr-12 xl:pr-16 mb-12 xl:mb-16", style: "background-image:url(/svg/arrow_right_blue_dark.svg)" do %>
            Be inspired by tales of flight-free travel
        <% end %>
    </div>
</section>

<section class="bg-blue text-white section--covid-19">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl mb-6">COVID-19</h2>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">The Covid-19 pandemic has shown us that perhaps we don't need to travel as much as we thought we did; online interactions have replaced many business trips, and many people have discovered the joy of travelling closer to home. But even though flights have reduced significantly because of the pandemic, the conversation has moved away from the climate.</p>
        <p class="text-2xl xl:text-3xl mb-6 sm:mb-16 leading-tight">The case still needs to be made for flying less, even in Covid times. Meaningful climate action comes when people choose to make changes &ndash; not when they're forced to make them because of the pandemic.</p>

        <a href="<%= image_path("/images/five-ways-to-avoid-climate-collapse.png") %>" target="_blank">
            <img src="<%= image_path("/images/five-ways-to-avoid-climate-collapse.png") %>" class="w-2/3 mx-auto mb-12"/>
        </a>
    </div>
</section>

</main>
