---
title: Why flight free?
---
<main>
<section class="bg-gray-light section--introduction">
  <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12 text-text-default">
    <h1 class="text-blue-dark text-4xl xl:text-5xl leading-tight mb-6">Why flight free?</h1>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight text-blue">Reducing our carbon emissions is vital in avoiding climate breakdown. There are lots of things we can do, like eating less meat, using renewable energy, or driving less. But did you know that just one flight can wipe out all those savings? Living sustainably whilst continuing to fly is impossible.</p>

    <div class="mx-auto mb-6 sm:mb-16 sm:w-11/12 lg:w-3/4">
      <div class="relative h-0" style="padding-bottom: 56.25%">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/488449939?byline=false" width="640" height="360" frameborder="0" allowfullscreen="" class="absolute t-0 l-0 w-full h-full"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue text-white section--climate">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl leading-tight mb-6">Flight free for the climate</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Many people don't realise how carbon-intensive flying is, but very little else will raise your carbon footprint by so much and so quickly as taking a flight. The 2021 IPCC report gives the clearest warning yet that we are heading for catastrophic climate change, and avoiding it requires action from all of us &ndash; especially those of us in high-carbon economies such as the UK. Reducing the amount you fly is the easiest way to make a meaningful reduction to your carbon footprint.</p>

        <a href="<%= image_path("/images/why_flight_free_personal_choices.jpg") %>" target="_blank">
            <img src="<%= image_path("/images/why_flight_free_personal_choices.jpg") %>" class="w-full mx-auto mb-12"/>
        </a>
    
        <% link_to "/blog/categories/climate/", class: "block text-xl xl:text-2xl leading-none xl:leading-tight text-right text-orange hover:text-white bg-no-repeat bg-right xs:bg-contain py-1 pr-12 xl:pr-16 mb-4 xl:mb-16", style: "background-image:url(/svg/orange_arrow_right.svg)" do %>
            Find out more about the climate impact of aviation
        <% end %>
    </div>
</section>

<section class="bg-gray-light text-text-default section--social-and-system-change">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-blue-dark text-4xl xl:text-5xl leading-tight mb-6">Flight free for social and system change</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight text-blue-dark">It might feel that your one action doesn't make a difference, but choosing not to fly goes beyond just reducing your own emissions. Our actions have an impact on those around us, meaning that if lots of us do this together, we can change the social norms around flying.</p>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight text-blue-dark">This also has an impact at a higher level. We have a lot of power as consumers, and our choices can influence industry decisions and government policy.</p>
    </div>
</section>

<section class="bg-orange text-text-default section--justice">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl leading-tight mb-6">Flight free for justice</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Even though flying might seem quite common, only around 10% of the world's population has ever been on a plane &ndash; yet the consequences of rising emissions are felt by everyone all over the world. It's a huge injustice that the people who are least responsible for causing the climate crisis are suffering the most.</p>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Even here in the UK, only around half of us fly in any given year, but the negative effects of increased emissions, air pollution and noise pollution are felt by us all. Choosing to stay grounded is a positive choice for each other as well as for the climate.</p>
    </div>
</section>

<section class="bg-gray-light text-blue-dark section--travel">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl leading-tight mb-6">Flight free travel</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Not flying doesn't mean not travelling! With the whole of Europe on our doorstep, we have so many holiday destinations to choose from. Taking the train instead of the plane can reduce emissions by as much as 90%, and going overland can be a really enjoyable experience.</p>

        <a href="<%= image_path("/images/co2-emission-from-passenger-transport.jpg") %>" target="_blank">
            <img src="<%= image_path("/images/co2-emission-from-passenger-transport.jpg") %>" class="w-full sm:w-2/3 mx-auto mb-12"/>
        </a>
    
        <% link_to "/blog/categories/travel/", class: "block text-xl xl:text-2xl leading-none xl:leading-tight text-right hover:text-orange bg-no-repeat bg-right xs:bg-contain py-1 pr-12 xl:pr-16 mb-4 xl:mb-16", style: "background-image:url(/svg/arrow_right_blue_dark.svg)" do %>
            Be inspired by tales of flight-free travel
        <% end %>
    </div>
</section>

<section class="bg-blue text-white section--covid-19">
    <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12">
        <h2 class="text-4xl xl:text-5xl leading-tight mb-6">COVID-19</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">The Covid-19 pandemic has shown us that perhaps we don't need to travel as much as we thought we did; online interactions have replaced many business trips, and many people have discovered the joy of travelling closer to home. But even though flights have reduced significantly because of the pandemic, the conversation has moved away from the climate.</p>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">The case still needs to be made for flying less, even in Covid times. Meaningful climate action comes when people choose to make changes &ndash; not when they're forced to make them because of the pandemic.</p>

        <a href="<%= image_path("/images/five-ways-to-avoid-climate-collapse.jpg") %>" target="_blank">
            <img src="<%= image_path("/images/five-ways-to-avoid-climate-collapse.jpg") %>" class="w-full sm:w-2/3 mx-auto mb-12"/>
        </a>
    </div>
</section>

</main>
